.ub-emb-bar.ub-emb-visible .ub-emb-bar-frame{z-index:999!important;}
.affirm-banner-container .affirm-site-modal img{max-width:100%!important;}
.account .secondary .action.back{margin:20px;}
.amcheckout-step-container .checkout-agreements-block{padding-top:20px;}
.checkout-index-index .page-wrapper .page-header.header-style-11 .header.content{padding:0!important;}
.product-list-style-17 .product.description.product-item-description{color:#f18607;margin:10px 0;}
.opc-wrapper.layout-2-columns.am-opc-wrapper.am-submit-summary{width:100%!important}
.cdz-banner-box-mini.cdz-banner-text .btn.primary{padding:15px 0;}
.cdz-banner-box-mini.cdz-banner-text .btn.primary:hover{color:#fff;}
.btn-block{
	display:block;
	width:100%
}
.href-underline{color:#f18607!important;text-decoration:underline;}
.mppromobar-template-1.content-template p{margin:0;}
#back-top{bottom:90px!important;}
.text-comparison{font-size:14px;}
.font-weight-bold{font-size:15px;font-weight:700}
.banner-style02 .cdz-banner .cdz-banner-text.mobile .btn.primary{
	font-size:16px;
	padding:1.5em
}
.mt-2{
	padding:10px 0;
}
.head-color{color:#cb5b00;}
.banner-style02 .cdz-banner .cdz-banner-text.desktop .btn.primary{
	padding:20px 30px;
	font-size:16px
}
.cdz-banner-box .row{
	width:100%
}
.cdz-banner.promotion{
	background:#f18607;
	font-size:1.2em;
	margin-top:10px;
	padding:4px 0
}
.cdz-banner.promotion a{
	color:#fff;
	font-weight:600
}
.cdz-banner-box{
	justify-content:center;
	flex-direction:column;
	align-items:center;
	display:flex;
	width:100%;
	height:100%
}
.cms-blockquote{
	background:#f9f9f9;
	border-left:10px solid #ccc;
	margin:1.5em 0;
	padding:1.5em 10px;
	quotes:"\201C" "\201D" "\2018" "\2019";
	font-family:inherit
}
.cms-blockquote:after,.cms-blockquote:before{
	content:none
}
.boc-home-space{
	margin-bottom:15px
}
button.action.view-cart-page.secondary a:hover{
	color:#cdcdcd!important
}
div#onepage-checkout-shipping-method-additional-load{
	margin-bottom:30px
}
.text-primary{
	color:#007bff!important
}
.text-secondary{
	color:#6c757d!important
}
.text-success{
	color:#28a745!important
}
.text-danger{
	color:#dc3545!important
}
.text-warning{
	color:#ffc107!important
}
.text-info{
	color:#17a2b8!important
}
.text-light{
	color:#f8f9fa!important
}
.text-dakr{
	color:#343a40!important
}
.text-muted{
	color:#6c757d!important
}
.text-white{
	color:#fff!important
}
.bg-dark{
	background-color:#343a40!important
}
.banner-style07 .boc-banner.cdz-banner:hover .item-content,.banner-style07 .item:hover .item-content{
	color:#282828;
	padding:40px 20px
}
.banner-style07 .boc-banner.cdz-banner:hover .btn.primary{
	color:#282828;
	box-shadow:2px 2px 2px #f18607
}
.banner-style07 .boc-banner:hover .item-content .banner-content,.banner-style07 .item:hover .item-content .banner-content{
	position:relative;
	z-index:1
}
.banner-style07 .boc-banner .item-content{
	position:relative
}
.banner-style07 .boc-banner .item-content.first{
	background-color:#383838
}
.banner-style07 .boc-banner .item-content.second{
	background-color:#f18607
}
.banner-style07 .boc-banner .item-content.third{
	background-color:#b2b2b2
}
.banner-style07 .boc-banner .btn.primary{
	color:#fff;
	border-color:#fff;
	border:1px solid;
	padding:5px 10px;
	font-size:16px
}
.banner-style07 .boc-banner .item-content{
	padding:40px 20px
}
.banner-style07 .boc-banner .item-content .bc-title{
	height:80px
}
.banner-style07 .boc-banner .bc-desc{
	height:60px;
	margin-bottom:15px
}
.home-service .boc-desc{
	padding:15px 0
}
.row.no-gutter{
	margin-left:0;
	margin-right:0
}
.row.no-gutter [class*=col-]:not(:first-child),.row.no-gutter [class*=col-]:not(:last-child){
	padding-right:0;
	padding-left:0
}
.cdz-banner-text h2{
	text-shadow:2px 2px #272625;
	text-transform:capitalize;
	font-size:1.8em
}
.banner-style02 .cdz-banner:hover img{
	-moz-transform:none;
	-webkit-transform:none;
	-o-transform:none;
	transform:none
}
.banner-style02 .cdz-banner img{
	opacity:.9;
	-webkit-opacity:.9;
	-moz-opacity:.9
}
.cdz-banner .cdz-banner-text .btn.primary{
	margin:15px 0;
	text-transform:capitalize!important;
	font-weight:700;
	font-style:normal!important;
	background:rgb(241,134,7,.8)!important
}
.cdz-banner .cdz-banner-text .btn.primary:hover{
	background:#f18607!important
}
.center-landing-page{
	text-align:center
}
.row.cms-row-landing{
	margin:30px 0
}
.cms-p-block{
	padding:15px 0 0
}
.cms-p-block ul{
	list-style:disc;
	padding-inline-start:20px
}
div.grecaptcha-badge{
	visibility:hidden!important;
	position:fixed!important;
	height:60px!important
}
.groupdrop-link li.item:last-child{
	padding-bottom:30px
}
.rg-container{
	font-family:Lato,Helvetica,Arial,sans-serif;
	font-size:16px;
	line-height:1.4;
	margin:0;
	padding:1em .5em;
	color:#222
}
.rg-header{
	margin-bottom:1em;
	text-align:left
}
.rg-header>*{
	display:block
}
.rg-hed{
	font-weight:700;
	font-size:1.4em
}
.rg-dek{
	font-size:1em
}
.rg-source{
	margin:0;
	font-size:.75em;
	text-align:right
}
.rg-source .pre-colon{
	text-transform:uppercase
}
.rg-source .post-colon{
	font-weight:700
}
table.rg-table{
	width:100%;
	margin-bottom:.5em;
	font-size:1em;
	border-collapse:collapse;
	border-spacing:0;
	background-color:#fff
}
table.rg-table tr{
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	text-align:left;
	color:#333
}
table.rg-table thead{
	border-bottom:3px solid #ddd
}
table.rg-table tr{
	border-bottom:1px solid #ddd;
	color:#222
}
table.rg-table tr.highlight{
	background-color:#dcf1f0!important
}
table.rg-table.zebra tr:nth-child(even){
	background-color:#f6f6f6
}
table.rg-table th{
	font-weight:700
}
table.rg-table td,table.rg-table th{
	padding:.35em;
	font-size:.9em;
	border:1px solid #ddd;
	text-align:center;
	vertical-align:middle
}
table.rg-table .highlight td{
	font-weight:700
}
table.rg-table th.number,td.number{
	text-align:right
}
td.text .adjust{
	font-size:12px
}
i.menu-icon.fa{width:1.28571429em;text-align:center}

.amblog-element-block .amblog-categories .amblog-link,.amblog-element-block .amblog-headline{font-size:15px!important}
.amblog-index-index .page-title, .amblog-index-post .page-title{margin-bottom:30px!important;font-size:24px!important;}
.list.products-list .item.product-item a.qs-button{visibility:hidden;}
.list.products-list .item.product-item .product-item-top .product-image-photo,.list.products-list .item.product-item .product-item-top .product-image-photo.hovered-img{
	-moz-transform:none!important;
	-webkit-transform:none!important;
	-o-transform:none!important;
	transform:none!important;	
}
.page.messages{text-align:center;margin:0 auto;}
.affirm-banner-container{margin:15px 0 0;}
.current-sale-container .amcountdown-block-wrapper .amcountdown-text.-after{font-size:20px;font-weight:700;}
.current-sale-container-text{max-width:1200px;text-align:center;margin:0 auto;font-weight:700;color:#ff8800;}
@media screen and (max-width:767px){
	.rg-container{
		max-width:767px;
		margin:0 auto
}
	table.rg-table{
		width:100%
}
	table.rg-table td.hide-mobile,table.rg-table th.hide-mobile,table.rg-table tr.hide-mobile{
		display:none
}
	table.rg-table thead{
		display:none
}
	table.rg-table tbody{
		width:100%
}
	table.rg-table td,table.rg-table th,table.rg-table tr{
		display:block;
		padding:0
}
	table.rg-table tr{
		border-bottom:none;
		margin:0 0 1em 0;
		padding:.5em
}
	table.rg-table tr.highlight{
		background-color:inherit!important
}
	table.rg-table.zebra tr:nth-child(even){
		background-color:transparent
}
	table.rg-table.zebra td:nth-child(even){
		background-color:#f6f6f6
}
	table.rg-table tr:nth-child(even){
		background-color:transparent
}
	table.rg-table td{
		padding:.5em 0 .25em 0;
		border-bottom:1px dotted #ccc;
		text-align:right
}
	table.rg-table td[data-title]:before{
		content:attr(data-title);
		font-weight:700;
		display:inline-block;
		content:attr(data-title);
		float:left;
		margin-right:.5em;
		font-size:.95em
}
	table.rg-table td:last-child{
		padding-right:0;
		border-bottom:2px solid #ccc
}
	table.rg-table td:empty{
		display:none
}
	table.rg-table .highlight td{
		background-color:inherit;
		font-weight:400
}
}
@media only screen and (max-width:991px){
	.banner-style07 .boc-banner .item-content .bc-title{
		height:50px
}
	.cdz-banner-text h2{
		margin-top:5%
}
	.banner-style02 .cdz-banner .cdz-banner-text.desktop .row{
		width:50%;
		margin:0
}
	.banner-style02 .cdz-banner .cdz-banner-text.desktop .btn.primary{
		padding:10px 30px
}
}
@media only screen and (max-width:767px){
	.cdz-banner-text.mobile.visible-xs{
		display:flex!important
	}
	.nav-sections-item-title{
		width:50%!important;
		padding-top:16px!important;
		height:49px!important;
	}
	.nav-sections-item-title i.fa.fa-angle-down{color:#fff}
	.nav-sections .header.links li>a,.nav-sections .header.links{border-bottom:none!important;}
	
	.cdz-menu .groupdrop-link.first{margin-bottom:10px}
	.cdz-menu .groupdrop-link{},.cdz-menu:not(.cdz-toggle-menu) .groupmenu-drop .groupdrop-title{margin-bottom:20px}
	.cdz-menu .item.level-top .groupdrop-link .item{padding:10px}
	.cdz-menu .groupmenu-drop li.item{padding:10px 0}
	.cdz-menu li.item.level1.text-content{padding:10px 0 0}
	#mppromobar-fixed-page-bottom{bottom:40px!important;}
	.col-sm-24{width:100%}
	.product-item .product-item-name{white-space:normal!important;}
	#fc_frame, #fc_frame.fc-widget-normal{bottom:50px!important}
}
@media only screen and (min-width:768px){
	.filter-options-content-inner::-webkit-scrollbar-thumb:hover{background:#f18607!important;}
	.filter-options-content-inner::-webkit-scrollbar-thumb{background:#fcae51!important;}
	.page-header .sticky-menu:not(.active) .header-middle .header{
		padding:10px 0
}
	.page-header .sticky-menu:not(.active) .header-middle .header-panel-right{
		padding:0 10px
}
	.current-sale-container .amcountdown-block-wrapper.-round{
		text-align:center!important;
		max-width:none!important
}
	.current-sale-container .amcountdown-block-wrapper .amcountdown-text.-after{
		margin:20px 0 0!important;}
	.cdz-banner-box{
		background:0 0
}
	.cdz-menu:not(.cdz-toggle-menu) .groupmenu-drop>li.item{
		padding:10px 20px!important
}
	.amblog-index-index .page-title{margin-bottom:0!important;font-size:20px!important}
	.product-list-style-17 .button-hover-wrap{bottom:0%!important;}
	.minisearch .actions .action.search{z-index:0!important}
	.amsearch-form-container.-opened .action.search{display:block!important}
}
@media only screen and (min-width:992px){
	.page-header .header-panel-center,.page-header .sticky-menu:not(.active) .header-middle .header-panel-right{
		padding:25px 10px
}
	.banner-style02 .cdz-banner .cdz-banner-text.desktop{
		padding:5%
}
	.banner-style02 .cdz-banner .cdz-banner-text.desktop .btn.primary{
		font-size:14px
}
	.cdz-banner-box{
		background:rgb(40,40,40,.6);
		width:80%
}
	.banner-style02 .cdz-banner .cdz-banner-text.desktop .btn.primary{
		padding:10px 30px
}
}
@media only screen and (min-width:1200px){
	.banner-style02 .cdz-banner .cdz-banner-text.desktop{
		padding:10% 22%
	}
	.cdz-banner-box{
		background:rgb(40,40,40,.6);
		width:100%
	}
	.cdz-banner.promotion{
		font-size:1.4em
	}
}
