<div class="curent-sale-layout" data-role="curent-sale-layout">
    <input type="hidden" data-bind="
        attr: {
            name: inputName,
            id: uid
        },
        value: value
    "/>
    <div class="curent-sale-inner" data-role="curent-sale-builder">
        <div class="actions">
            <button type="button" class="btn add-group" data-role="add-group" translate="'Add new group'"></button>
        </div>
        <div class="groups" data-role="groups">
        
        </div>
    </div>
</div>