<?php
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Customer login form template
 *
 * @see \Magento\Customer\Block\Form\Login
 * @var $block \Magento\Customer\Block\Form\Login
 */
?>
<!-- login popup style 01 -->
<div class="<?php echo $this->getData('css_class'); ?> login-dialog md-dialog" data-cdzpopup id="<?php echo $this->getData('template_id'); ?>" data-mage-init='{"themewidgets":{"codazon.customValidation": {}}}'>
    <div class="no-max-height">
        <div class="block-inner">
            <p class="desc"><?php echo $block->getData('description'); ?></p>
            <?= $this->getBlockHtml('mageplaza-social-login-buttons') ?>
            <form name="loginForm" action="<?php echo $block->escapeUrl($block->getPostActionUrl()) ?>" method="post">
                <?php echo $block->getBlockHtml('formkey'); ?>
                <div class="field email required">
                    <label class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
                    <div class="control">
                        <input name="login[username]" value="<?= $block->escapeHtmlAttr($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?> type="email" class="input-text" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}">
                    </div>
                </div>
                <div class="field password required">
                    <label class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label>
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) : ?> autocomplete="off"<?php endif; ?> class="input-text" title="<?= $block->escapeHtmlAttr(__('Password')) ?>" data-validate="{required:true}">
                    </div>
                </div>
                <?php if ($captcha = $this->getLayout()->getBlock('mini-login-msp-recaptcha')) : ?>
                <?= $captcha->setCustomRecaptchaId("msp-recaptcha-".uniqid())->toHtml(); ?>
                <?php endif ?>
                <div data-mage-init='{"themewidgets":{"codazon.ajaxcontent": {"ajaxUrl": "<?= $this->getUrl('themelayoutpro/ajax/captcha') ?>", "cache": false}}}'></div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action login primary" type="submit"><?php echo __('Sign In') ?></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class='column'>
        <div class="forgot-password">
            <a class="action remind" href="<?php echo $block->escapeUrl($block->getForgotPasswordUrl()) ?>"><span><?php echo __('Forgot Your Password?'); ?></span></a>
        </div>
        <div class="no-account">
            <p><?php echo __('No account?'); ?></p>
            <a class="md-primary"  href="<?php echo $block->getUrl('customer/account/create'); ?>"><?php echo __('Create one here'); ?></a>
        </div>
    </div>
</div>