<?php
/**
 * Copyright © Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$pair = $block->getCurrentPair();
?>
<?php if ($pair->getId()) : ?>
<?php
$category = $block->getCurrentCategory();
$id = $category->getId();
$state = ($pair->getData('group_1') == $id) ? 1 : 2;
$remain = ($state == 1) ? 2 : 1;
$remainId = $pair->getData('group_' . $remain);
$remainCat = $block->getCategoryById($remainId);
$helper = $this->helper(\Codazon\FurnitureLayout\Helper\Data::class);
?>
<div class="category-info-top">
    <div class="row">
        <div class="category-swicther col-sm-24">
            <span class="label label-group-1" data-state="1" data-role="trigger"><?= $helper->getConfig('codazon_furniture_layout/category_pair/group_1_label') ?></span> <a id="switch-category-button" data-state="<?= $state ?>" class="toggle-btn state-<?= $state ?>" href="<?= $remainCat->getUrl() ?>"><span class="state"><?= $helper->getConfig('codazon_furniture_layout/category_pair/group_2_label') ?></span></a> <span class="label label-group-2" data-role="trigger" data-state="2"><?= __('Pre-Assembled') ?></span>
        </div>
    </div>
</div>
<script>
require(['jquery'], function ($) {
    var $btn = $('#switch-category-button'), href, currentState = $btn.data('state');
    $btn.on('click', function (e) {
        e.preventDefault();
        var state = $btn.attr('data-state'), remain = (state == 1)?2:1;
        $btn.removeClass('state-' + state).addClass('state-' + remain + ' active').attr('data-state', remain);
        $('body').fadeOut(1000);
        setTimeout(function() {
            $btn.removeClass('active');
            if (href = $btn.attr('href')) {
                window.location.href = href;
            }
        }, 500);
    });
    $('.category-swicther [data-role="trigger"]').on('click', function(e) {
        e.preventDefault();
        if ($(this).data('state') != currentState) {
            $btn.trigger('click');
        }
    });
});
</script>
<?php endif ?>