.hidden-option{
	display:none!important;
}
.checkbox-wrap{
	display:inline-block;
	position:relative;
	vertical-align:middle;
	margin-right:10px
}
.checkbox-wrap .checkbox-mask{
	width:23px;
	height:23px;
	display:block;
	border:2px solid #d8d4d1;
	border-radius:6px;
	box-sizing:border-box
}
.checkbox-wrap .checkbox-mask.radio-mask{
	border-radius:50%
}
.checkbox-wrap input{
	position:absolute;
	width:100%;
	height:100%;
	opacity:0;
	z-index:10;
	cursor:pointer
}
.checkbox-wrap input:checked+.checkbox-mask:after{
	font-family:FontAwesome;
	content:"\f00c";
	font-size:16px;
	position:absolute;
	left:3px;
	top:2px;
	color:#999
}
.checkbox-wrap input:checked+.checkbox-mask.radio-mask:after{
	font-family:FontAwesome;
	content:"\f111";
	font-size:14px;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%)
}
.category-container .toolbar .field.limiter{
	float:right
}
.category-container .toolbar .toolbar-label{
	float:left;
	text-transform:uppercase;
	display:block;
	padding:7px 0px;
	font-size:15px;
	margin-right:20px
}
.category-container .toolbar .toolbar-amount{
	display:none
}
.category-container .toolbar .field.limiter{
	display:none
}
.category-container .category-image{
	width:100%;
	margin-bottom:30px
}
.category-container .category-image img{
	width:100%
}
.category-filter-container{
	float:left
}
.category-filter-container.clear-container{
	float:right
}
.category-filter-container .box-item{
	display:inline-block;
	width:230px;
	position:relative;
	text-align:left;
	border:1px solid #d8d4d1;
	margin-right:20px
}
.category-filter-container .box-item .box-trigger{
	padding:7px 25px 7px 20px;
	width:100%;
	cursor:pointer;
	position:relative
}
.category-filter-container .box-item .box-trigger:after{
	font-family:FontAwesome;
	content:"\f0d7";
	font-size:inherit;
	position:absolute;
	right:10px;
	width:10px;
	height:10px;
	top:7px
}
.category-filter-container .box-item.open .box-trigger:after{
	content:"\f0d8"
}
.category-filter-container .box-item .box-options{
	position:absolute;
	left:-1px;
	top:100%;
	background:#fff;
	width:calc(100% + 2px);
	z-index:100;
	border:1px solid #d8d4d1;
	border-top:none
}
.category-filter-container .options-list .option-item{
	padding:7px 15px;
	display:flex;
	flex-direction:row
}
.category-filter-container .options-list .option-item label{
	cursor:pointer;
	width:100%;
	line-height:23px
}
.category-filter-container .clear-filter{
	border:none;
	background:transparent;
	color:#000
}
.category-list{
	margin:0 -10px
}
.category-list .cat-item{
	width:calc(100%/3 - 20px);
	margin:0px 10px 20px 10px
}
.cat-notification{width:100%;text-align:right;font-weight:700;margin-right:5px;font-size:16px;margin-top:13px;}
@media (max-width: 1300px){
	.category-list .cat-item{
		width:calc(100%/3 - 20px)
}
}
@media (max-width: 767px){
	.category-list{
		margin:0 -5px
}
	.category-list .cat-item{
		width:calc(100%/2 - 10px);
		margin:0px 5px 10px 5px
}
}
@media (max-width: 479px){
	.category-list{
		margin:0 -5px
}
	.category-list .cat-item{
		width:calc(100% - 10px);
		margin:0px 5px 10px 5px
}
}
.category-list .cat-item{
	padding:15px 15px;
	border:1px solid #d8d4d1
}
.category-list .cat-item .cat-item-name{
	color:#cb5b00;
	margin-bottom:8px;
	display:inline-block;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	font-size:14px
}
.category-list .cat-item .cat-item-compare{
	margin-bottom:5px;
	font-size:12px
}
.category-list .cat-item .cat-item-compare label{
	cursor:pointer
}
.category-list .cat-item .cat-item-bottom{
	padding:8px 0px 0px 0px
}
.category-list .cat-item .price-value{
	font-weight:bold
}
.category-list .cat-item .btn{
	padding:5px 5px;
	border:1px solid #d8d4d1;
	display:inline-block
}
.category-list .cat-item .actions{
	text-align:center
}
.category-list .cat-item .actions .btn{
	width:calc(50% - 5px);
	padding-right:25px;
	font-size:12px;
	text-align:center;
	position:relative;
	transition:all ease 400ms
}
@media (max-width: 1379px){
	.category-list .cat-item .actions .btn{
		width:70%;
		margin-bottom:10px
}
}
@media (max-width: 767px){
	.category-list .cat-item .actions .btn{
		width:100%
}
}
.category-list .cat-item .actions .btn>span{
	display:inline-block;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	vertical-align:middle
}
.category-list .cat-item .actions .btn:after{
	font-family:FontAwesome;
	content:"\f105";
	font-size:13px;
	display:inline-block;
	vertical-align:middle;
	margin-left:10px;
	position:absolute;
	right:10px;
	height:100%;
	top:0;
	padding:inherit;
	padding-right:0;
	padding-left:10px
}
.category-list .cat-item .actions .btn.buy-btn:after{
	border-left-color:#652d00
}
.category-list .cat-item .actions .btn:hover{
	transition:all ease 400ms
}
.category-list .cat-item .actions .btn.sample-btn{
	background-color:#686868;
	border-color:transparent;	
	color:#fff
}
@media (min-width: 1380px){
	.category-list .cat-item .actions .btn.sample-btn{
		float:left
}
}
.category-list .cat-item .actions .btn.sample-btn:hover{
	background-color:#4f4f4f
}
.category-list .cat-item .actions .btn.buy-btn{
	background-color:#cb5b00;
	border-color:transparent;	
	color:#fff
}
@media (min-width: 1380px){
	.category-list .cat-item .actions .btn.buy-btn{
		float:right
}
}
.category-list .cat-item .actions .btn.buy-btn:hover{
	background-color:#984400
}
.comparison-footer-bar{
	background:rgba(0,0,0,0.7);
	position:fixed;
	left:0;
	bottom:0;
	width:100%;
	z-index:800
}
.comparison-footer-bar .compare-items-container{
	width:70%;
	float:left
}
.comparison-footer-bar .footer-bar-inner{
	padding:10px
}
.comparison-footer-bar .actions{
	width:300px;
	float:left;
	padding:15px 0px 0px 0px;
	max-width:30%
}
.comparison-footer-bar .actions .view-btn{
	background-color:#cb5b00;
	border-color:transparent;
	border-bottom:3px solid #652d00;
	color:#fff;
	margin-right:10px
}
.comparison-footer-bar .actions .view-btn:hover{
	background-color:#984400
}
.comparison-footer-bar .actions .clear-btn{
	background-color:#fff;
	border-color:transparent;
	border-bottom:3px solid #ccc;
	color:#353535
}
.comparison-footer-bar .actions .clear-btn:hover{
	background-color:#e6e6e6
}
.comparison-footer-bar .comp-bar-toggle{
	position:absolute;
	background:#cb5b00;
	bottom:100%;
	color:white;
	cursor:pointer;
	padding:5px 10px 5px 10px;
	z-index:100;
	left:0
}
.comparison-footer-bar .comp-bar-toggle>span{
	position:relative
}
.comparison-footer-bar .comp-bar-toggle>span:after{
	position:relative;
	display:inline-block;
	margin-left:10px;
	font-family:FontAwesome;
	content:"\f107";
	font-size:16px
}
.comparison-footer-bar .comp-bar-toggle.close>span:after{
	content:"\f106"
}
.compare-items-container .comparison-items{
	margin:0;
	padding:0
}
@media (min-width: 768px){
	.compare-items-container .comparison-items{
		white-space:nowrap;
		overflow-x:auto;
		margin-right:20px
}
	.compare-items-container .comparison-items .item{
		overflow:hidden
}
}
.compare-items-container .comparison-items .item{
	margin:0;
	padding:7px 7px;
	display:inline-block;
	width:200px;
	float:none;
	background-color:#ffffff;
	margin-right:10px
}
.compare-items-container .comparison-items .item .item-inner{
	position:relative
}
.compare-items-container .comparison-items .item .item-left{
	width:50%;
	float:left;
	position:relative
}
.compare-items-container .comparison-items .item .item-right{
	float:left;
	padding:0px 10px 0px 5px ;
	position:absolute;
	width:50%;
	left:50%
}
.compare-items-container .comparison-items .item .item-right .remove-btn{
	position:absolute;
	top:0px;
	right:0px;
	font-size:0;
	padding:0 0;
	border:none;
	background:none;
	line-height:1;
	color:#353535
}
.compare-items-container .comparison-items .item .item-right .remove-btn:before{
	font-family:FontAwesome;
	content:"\f00d";
	font-size:14px;
	width:10px;
	height:10px
}
.compare-items-container .comparison-items .item .item-right .remove-btn:focus{
	background:none;
	color:#353535
}
.compare-items-container .comparison-items .item .item-name{
	font-size:11px;
	color:#cb5b00;
	white-space:normal;
	width:calc(100% - 5px);
	display:inline-block
}
.cat-comparision-modal .modal-inner-wrap{
	width:1100px;
	max-width:calc(100% - 40px)
}
.cat-comp-table-wrap{
	padding:0px 0px 30px 0px
}
.cat-comp-table-wrap .actions{
	margin-bottom:20px
}
.cat-comp-table-wrap .actions .print-btn{
	margin-right:10px
}
.cat-comp-table{
	border:1px solid #d8d4d1
}
.cat-comp-table .cat-name{
	margin-bottom:15px;
	text-align:center;
	font-weight:bold;
	color:#cb5b00
}
.cat-comp-table .cat-img-wrap{
	width:170px;
	margin:auto;
	max-width:100%
}
.cat-comp-table .attr-label{
	width:120px;
	vertical-align:middle;
	background-color:#f5f1ee;
	text-transform:none;
	font-size:13px
}
.cat-comp-table .attr-value{
	width:170px
}
.cat-comp-table tr{
	border-bottom:1px solid #d8d4d1
}
.cat-comp-table th,.cat-comp-table td{
	border-right:1px solid #d8d4d1
}
.cat-comp-table tbody tr:last-child{
	border-bottom:none
}
.comp-over-modal .modal-inner-wrap{
	width:400px;
	max-width:calc(100% - 40px)
}
.btn.btn-style-01{
	background-color:#cb5b00;
	border-color:transparent;
	border-bottom:3px solid #652d00;
	color:#fff
}
.btn.btn-style-01:hover{
	background-color:#984400
}
.btn.btn-style-02{
	background-color:#686868;
	border-color:transparent;
	border-bottom:3px solid #353535;
	color:#fff
}
.btn.btn-style-02:hover{
	background-color:#4f4f4f
}
.comp-msg-container{
	padding:0 0 20px 0px
}
.comp-msg-container .msg-content{
	margin-bottom:20px
}
.comp-msg-container .msg-actions{
	text-align:center
}
fly-print-content{
	display:none
}
@media print{
	body.fly-printing>*{
		display:none !important
}
	body.fly-printing>.fly-print-content{
		display:block !important
}
	table.cat-comp-table{
		margin-top:20px
}
	table.cat-comp-table .attr-label{
		font-weight:bold
}
	table.cat-comp-table .cat-name{
		font-weight:normal;
		text-transform:none
}
}
@media (max-width: 1379px){
	.category-filter-container{
		margin-bottom:10px
}
	.category-filter-container .box-item{
		width:150px
}
	.category-filter-container .box-item .box-options{
		width:300px;
		border-top:1px solid #d8d4d1;
		max-width:100vw;
		top:calc(100% + 3px)
}
	.category-filter-container .clear-filter{
		font-size:12px;
		text-transform:none;
		padding:10px 0
}
}
@media (max-width: 767px){
	.category-filter-container .box-item .box-options{width:100%}
	.category-filter-container{margin-bottom:0}
	.category-filter-container .box-item.mb-box-item{width:100%}
	.comparison-footer-bar{
		right:0;
		left:auto;
		width:200px;
		z-index:1000;
		bottom:auto;
		top:20%;
		background:#fff;
		box-shadow:0 0 18px #000
}
	.comparison-footer-bar .compare-items-container,.comparison-footer-bar .actions{
		min-width:100%;
		width:100%
}
	.comparison-footer-bar .actions{
		text-align:center
}
	.comparison-footer-bar .actions .view-btn{
		margin-bottom:10px
}
	.comparison-footer-bar .actions .clear-btn{
		border:none;
		text-transform:none;
		background:transparent
}
	.comparison-footer-bar .comp-bar-toggle{
		min-width:43px;
		height:37px;
		right:0;
		left:auto;
		text-align:center
}
	.comparison-footer-bar .comp-bar-toggle>span{
		font-size:0
}
	.comparison-footer-bar .comp-bar-toggle>span:after{
		content:"\f00d";
		font-size:20px;
		margin-left:0
}
	.comparison-footer-bar .comp-bar-toggle.close>span:after{
		content:"\f080"
}
	.compare-items-container .comparison-items .item{
		width:100%;
		margin-bottom:5px
}
	.category-filter-container{
		width:100%;
		margin-left:0
}
	.category-filter-container .box-item{
		width:40%;
		margin-bottom:10px
}
	.category-list .cat-item .cat-item-name{
		text-transform:none;
		font-size:12px
}
	.category-container .toolbar .toolbar-label{
		width:100%;
		text-align:center;
		margin-right:0px;
		margin-bottom:10px
}
	.category-filter-container .box-item:last-child .box-options{
		left:-1px;
		right:0
}
}
blockquote{
	background:#f9f9f9;
	border-left:10px solid #ccc;
	margin:1.5em 0px;
	padding:1.5em 10px;
	quotes:"\201C" "\201D" "\2018" "\2019";
	font-family:inherit
}
blockquote:before{
	color:#ccc;
	content:open-quote;
	font-size:4em;
	line-height:0.1em;
	margin-right:0.25em;
	vertical-align:-0.4em;
	left:auto;
	position:relative
}
blockquote:after{
	visibility:hidden;
	color:#ccc;
	content:close-quote;
	font-size:4em;
	line-height:0.1em;
	margin-right:0.25em;
	vertical-align:-0.4em
}
blockquote p{
	display:inline;
	font-style:italic
}
.rta-cabinets-description{
	margin:0 0 20px
}
.rta-cabinets-description p{
	margin-bottom:15px
}
.category-container .products.wrapper~.toolbar .category-filter-container,.category-container .products.wrapper~.toolbar .toolbar-label{
	display:none
}
.category-container .products.wrapper~.toolbar .toolbar-amount,.category-container .products.wrapper~.toolbar .field.limiter{
	display:block
}
.cat-item-top a.cat-img.abs-img{
	margin-bottom:10px
}
.cat-item-middle{
	height:10px;
	margin-bottom:6px
}
.cat-item-middle a{
	color:#f60;
	font-size:12px;
	text-align:center
}
.cat-item-price{
	position:absolute;
	right:0;
	bottom:0;
	z-index:2;
	display:flex;
	align-items:center;
	justify-content:center;
	height:40px;
	width:60%;
	min-width:190px;
	clip-path:polygon(20% 0%, 100% 0, 100% 100%, 0% 100%);
	background-color:rgba(203,91,0,.7);
	color:#fff
}
.cat-item-price .price-label{
	width:100%;
	font-weight:bold;
	font-size:0.7em;
	text-align:right;
	line-height:1.2;
	margin-right:5px
}
.cat-item-price .price-label .price-value{
	display:block;
	font-size:18px;
	letter-spacing:0;
	margin:0
}
.price-value .with-special{text-decoration:line-through;font-size:14px;color:#d3d3d3}
.price-value .is-special{margin-left:10px}
