<?php
$widget = $this->getWidgetConfig();
?>

<script id="cat-compare-item-tmpl" type="text/x-magento-template">
<% _.each(items, function(item){ %>
    <li class="item" data-category="<%- item.category %>">
        <div class="item-inner">
            <div class="item-left">
                <a href="<%- item.url %>" class="item-img abs-img" style="padding-bottom: <%- paddingBottom %>%"><img src="<%- item.cat_thumbnail %>" /></a>
            </div>
            <div class="item-right">
                <a class="item-name" href="<%- item.url %>"><%- item.name %></a>
                <button class="remove-btn" data-rmcatcompitem="<%- item.category %>"></button>
            </div>
        </div>
    </li>
<% }); %>
</script>
<script id="cat-comparison-max-items-over-tmpl" type="text/x-magento-template">
<div class="comp-msg-container">
    <div class="msg-content"><%- overMsg %></div>
    <div class="msg-actions">
        <button class="btn view-btn btn-style-01" data-viewcomplist="1"><span><?= __('Compare') ?></span></button>
    </div>
</div>
</script>
<script id="cat-comparison-table-tmpl" type="text/x-magento-template">
<div class="actions">
    <button class="btn print-btn btn-style-01" data-print="#cat-comp-table-inner"><span><?= __('Print') ?></span></button>
    <button class="btn pdf-btn btn-style-02" data-exportcomplistpdf="1" style="margin-right:10px;"><span><?= __('Save as PDF') ?></span></button>
    <button class="btn pdf-btn btn-style-02" data-opencomplistpdf="1"><span><?= __('Open as PDF') ?></span></button>
</div>
<div class="cat-comp-table-inner" id="cat-comp-table-inner">
    <table class="cat-comp-table">
        <thead>
            <tr class="attr-item">
                <th class="attr-label"><?= __('Name') ?></th>
                <% _.each(items, function(item){ %>
                <th class="attr-value">
                    <div class="cat-name"><a class="item-name" target="_blank" href="<%- item.url %>"><%- item.name %></a></div>
                    <div class="cat-img-wrap">
                        <div class="cat-img abs-img" style="padding-bottom: <%- imageRatio %>%"><img src="<%- item.cat_thumbnail %>" /></div>
                    </div>
                </th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% _.each(comparableAttributes, function(attr){ %>
            <tr class="attr-item">
                <td class="attr-label"><%- attr.label %></td>
                <% _.each(items, function(item){ %>
                <td class="attr-value">
                    <%- item[attr.code] %>
                </td>
                <% }); %>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>
</script>

<div class="comparison-footer-bar" data-mage-init='<?= json_encode($widget) ?>' style="display:none;">
    <div class="comp-bar-toggle" data-role="bar-toggle" data-role="comp-bar-toggle"><span><?= __('Comparison list') ?></span></div>
    <div class="footer-bar-inner" data-role="bar-content">
        <div class="container">
            <div class="compare-items-container">
                <div class="compare-items-inner">
                    <ul class="comparison-items" data-role="comparison_items"></ul>
                </div>
            </div>
            <div class="actions">
                <button class="btn view-btn" data-viewcomplist="1"><span><?= __('Compare') ?></span></button>
                <button class="btn clear-btn" data-clearcomplist="1"><span><?= __('Clear all') ?></span></button>
            </div>
        </div>
    </div>
</div>