<?php
/**
 * Copyright © Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php $total = $block->getItems()->getSize() ?>
<?php if ($total): ?>
<div class="table-wrapper comparison">
    <table class="data table table-comparison" id="product-comparison">
        <caption class="table-caption"><?= __('Compare Categories') ?></caption>
        <thead>
            <tr>
            </tr>
        </thead>
</div>
<?php endif ?>