<?php
/**
* Copyright © 2019 Codazon. All rights reserved.
* See COPYING.txt for license details.
*/
?>
<script>
var codazon = <?= json_encode($this->getConfig()); ?>;
</script>


<script id="cdz-multi-text-tmpl" type="text/x-magento-template">
<div class="store-values">
<% _.each(window.codazon.stores, function(store) { %>
<div class="store-value">
    <span class="store-name"><%- store.name %></span>
    <input type="text" data-store_id="<%- store.store_id %>" data-show_in_overview='<%- (show_in_overview && (store.store_id==0))?1:0 %>'
        <% if (value[store.store_id]) { %>
            value="<%- value[store.store_id] %>"
        <% } %>
    data-name="<%- name %>" />
</div>
<% }); %>
</div>

</script>

<script id="cdz-category-group-tmpl" type="text/x-magento-template">
<div class="cat-group" data-id='<%- cat_id %>' data-role="cat-group">
    <div class="group-header">
        <label class="group-label"><strong><?= __('Group:') ?></strong> <span class="group-name" data-role="group-cat-name"><%- cat_name %></span></label>
        <span class="group-over-view">
            <% _.each(config_fields, function(field) { %>
                <% if (field.show_in_overview) { %>
                <span class="item <%- field.name %>" data-value='<% if (typeof field.value == 'string') { %><%- field.value %><% } else { %><%- field.value[0] %><% } %>'>
                    <span class="label"><%- field.label %>: </span>
                    <span class="value" data-overview="<%- field.name %>">
                    <% if (field.type == "multi_text") { %> 
                    <%- field.value[0] %>
                    <% } else if (field.type == 'select') { %>
                    <% _.each(field.options, function(option) { %>
                        <% if (option.value == field.value) { %><%- option.label %><% } %>
                    <% }); %>
                    <% } else { %>
                    <%- field.value %>
                    <% } %>
                    </span>
                </span>
                <% } %>
            <% }); %>
        </span>
        <div class="group-actions">
            <button data-role="choose-group-category" title="<?= __('Change parent category'); ?>" class="btn choose-group-category"><span><?= __('Change category'); ?></span></button>
            <button data-role="edit-group-options" title="<?= __('Edit Options'); ?>" class="btn edit-group-options"><span><?= __('Edit Options'); ?></span></button>
            <button data-role="toggle-children" title="<?= __('Show/Hide Sub categories'); ?>" class="btn toggle-children"><span class="toggle-open"><?= __('Hide Subcat'); ?></span><span class="toggle-close"><?= __('Show Subcat'); ?></span></button>
            <button data-role="delete-group-category" title="<?= __('Delete group'); ?>" class="btn delete-group-category"><span><?= __('Delete group'); ?></span></button>
        </div>
    </div>
    <div class="group-config" style="display:none;" data-role="group-config">
        <div class="sub-title"><?= __('Options:') ?></div>
        <% _.each(config_fields, function(field) { %>
        <div class="field" data-type='<%- field.type %>' data-fieldname='<%- field.name %>'>
            <label><%- field.label %></label>
            <div class="value">
            <% if (field.type == 'multi_text') { %>
                <%= widget._getMultiTextInput(field) %>
            <% } else if (field.type == 'yes_no') { %>
                <select data-name="<%- field.name %>" data-show_in_overview='<%- field.show_in_overview?1:0 %>'>
                    <option value="0" <% if (field.value == 0) { %>selected<% } %>><?= __('No') ?></option>
                    <option value="1" <% if (field.value == 1) { %>selected<% } %>><?= __('Yes') ?></option>
                </select>
            <% } else if (field.type == 'select') { %>
                <select data-name="<%- field.name %>" data-show_in_overview='<%- field.show_in_overview?1:0 %>'>
                    <% _.each(field.options, function(option) { %>
                    <option value='<%- option.value %>' <% if (field.value == option.value) { %>selected<% } %>><%- option.label %></option>
                    <% }); %>
                </select>
            <% } else if (field.type == 'date') { %>
                <input onfocus="window.czdDatepicker(this)" data-name="<%- field.name %>" value="<%- field.value %>" data-show_in_overview='<%- field.show_in_overview?1:0 %>'
                    <% if (field.placeholder) { %>placeholder=<%- field.placeholder %><% } %>
                />
            <% } else if (field.type == 'category_checkbox_tree') { %>
            <div class="category-chooser-wrapper" data-role="category_chooser_wrapper">
                <a class="category-label" href="javascript:void(0)" onclick="window.cdzEditCategoryField(this)" data-role="category_label"><%- field.value?field.value:'...' %></a>
                <span data-role="value_wrap" style="display:none">
                    <input data-name="<%- field.name %>" value="<%- field.value %>"
                        <% if (field.placeholder) { %>placeholder=<%- field.placeholder %><% } %>
                        data-role="category_value"
                    />
                    <span class="actions">
                        <a href="javascript:void(0)" onclick="window.cdzOpenCategoryChooser(this)"><img src="<?= $this->getViewFileUrl('images/rule_chooser_trigger.gif') ?>" alt="" title="<?= __('Open Chooser') ?>" /></a>
                        <a href="javascript:void(0)" onclick="window.cdzApplyCategoryChooser(this)"><img src="<?= $this->getViewFileUrl('images/rule_component_apply.gif') ?>" alt="" title="<?= __('Apply') ?>" /></a>
                    </span>
                </span>
                <div class="rule-chooser category-chooser" data-role="category_chooser"></div>
            </div>
            <% } else { %>
                <input data-name="<%- field.name %>" value="<%- field.value %>" data-show_in_overview='<%- field.show_in_overview?1:0 %>'
                    <% if (field.placeholder) { %>placeholder=<%- field.placeholder %><% } %>
                />
            <% } %>
            </div>
        </div>
        <% }); %>
    </div>
    <div class="group-children" style="display:none;" data-role="group-children"></div>
</div>
</script>

<script id="cdz-sub-cat-list-tmpl" type="text/x-magento-template">
    <div class="sub-title"><?= __('Subcategory:') ?></div>
    <div class="sub-cat-items">
    <% _.each(categories, function(category) { %>
    <div class="sub-cat-item" data-role="sub-cat-item" data-catid='<%- category.id %>'>
        <div class="sub-cat-name"><%- category.name %></div>
        <div class="actions">
            <label><?= __('Visible') ?></label>
            <input type="checkbox" data-name="active" <% if (category.active) { %>checked<% } %> />
        </div>
    </div>
    <% }); %>
    </div>
</script>