<script>
require(['jquery', 'Magento_Ui/js/lib/view/utils/async'], function($) {
    var addCheckAllButton = function(wrapSelector, destSelector, checkboxSeletor, label, icon, selectText, unselectText) {
        label = (label === undefined) ? '' : label;
        icon = (icon === undefined) ? '' : icon;
        selectText = (selectText === undefined) ? '<?= __("Select all") ?>' : selectText;
        unselectText = (unselectText === undefined) ? '<?= __("Unselect all") ?>' : unselectText;
        var $wrap = $(wrapSelector), $dest = $wrap.find(destSelector);
        if ($wrap.find(checkboxSeletor).length == 0) {
            return false;
        }
        if ($('.actions.bulk-actions', $dest).length == 0) {
            $('<div class="actions bulk-actions">').appendTo($dest);
        }
        var $toolbar = $('.actions.bulk-actions', $dest);
        var $inner = $('<div class="inner"><span class="title ' + icon + '">' + label + '</span><span class="btn-group"></span></div>').appendTo($toolbar);
        var $btnGroup = $inner.find('.btn-group');
        var $selectBtn = $('<button type="button" class="check-all-btn">').text(selectText).appendTo($btnGroup);
        var $deselectBtn = $('<button type="button" class="uncheck-all-btn">').text(unselectText).appendTo($btnGroup);
        $selectBtn.on('click', function(e) {
            e.preventDefault();
            $wrap.find(checkboxSeletor).prop('checked', true);
        });
        $deselectBtn.on('click', function(e) {
            e.preventDefault();
            $wrap.find(checkboxSeletor).prop('checked', false);
        });
    }
    var blocks = ['#order-sidebar_wishlist', '#order-sidebar_compared', '#order-sidebar_reorder', '#order-sidebar_cart'];
    $.each(blocks, function(i, blockId) {
        $.async(blockId, function() {
            var addAction = function() {
                if ($(blockId + ' .actions.bulk-actions').length == 0) {
                    addCheckAllButton(blockId, '.sidebar-title-block', '.col-remove input[type=checkbox]', '<?= __("Remove:") ?>', 'icon icon-remove');
                    addCheckAllButton(blockId, '.sidebar-title-block', '.col-add input[type=checkbox]', '<?= __("Add:") ?>',  'icon icon-add');
                }
            };
            addAction();
            $('body').on('processStop', addAction);
        });
    });
});
</script>

<style>
.actions.bulk-actions {border-bottom: 1px dashed #ccc; border-top: 1px dashed #ccc; margin-top: 15px;}
.actions.bulk-actions .inner{width: 100%; display: table-row;}
.actions.bulk-actions .title{padding: 0px 10px 0px 0px; font-size: 11px; display: table-cell;}
.actions.bulk-actions .title:empty{display: none;}
.actions.bulk-actions .icon:before{font-family: "Admin Icons"; margin-right: 10px;}
.actions.bulk-actions .icon.icon-add:before{content: '\e625';}
.actions.bulk-actions .icon.icon-remove:before{content: '\e630';}
.actions.bulk-actions .btn-group{display: table-cell; padding: 5px 0px;}
.actions.bulk-actions button{padding: 2px 10px; margin-right: 10px; font-size: 11px; border: none;}
</style>



<script>
require(['jquery', 'Magento_Ui/js/lib/view/utils/async', 'Magento_Ui/js/modal/alert'], function($, async, alert) {
    var addAllItemsButtons = function(blockId, action, btnText) {
        var $block = $(blockId);
        var $toolbar  = $('#order-items-top-toolbar');
        if ($toolbar.length == 0) {
            $toolbar = $('<div class="order-items-top-toolbar" id="order-items-top-toolbar">').insertBefore($block);
        }
        if ($toolbar.find('button.btn-' + action).length == 0) {
            var $btn = $('<button type="button" class="btn btn-' + action + '">').text(btnText).appendTo($toolbar);
            $btn.on('click', function(e) {
                e.preventDefault();
                var $selects = $(blockId + ' #order-items_grid table .col-actions select');
                if ($selects.length)  {
                    $selects.each(function() {
                        var $select = $(this); $select.val(action).trigger('change');
                    });
                    if (window.order) {
                        window.order.itemsUpdate();
                    }
                } else {
                    alert({
                        content: '<?= "There are no items ordered." ?>'
                    });
                }
            });
        }
    }
    var blockId = '#order-items';
    $.async(blockId, function() {
        var addAction = function() {
            if ($(blockId + ' #order-items_grid table .col-actions select').length) {
                addAllItemsButtons(blockId, 'cart', '<?= __("Move All To Shopping Cart") ?>');
                addAllItemsButtons(blockId, 'wishlist', '<?= __("Move All To Wishlist") ?>');
            } else {
                $('#order-items-top-toolbar').remove();
            }
        }
        addAction();
        $('body').on('processStop', addAction);
    });
});
</script>

<style>
.order-items-top-toolbar {padding-bottom: 10px; border-bottom: 1px solid #ccc;}
.order-items-top-toolbar .btn {margin-right: 10px;}
</style>