<?php

/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */

/*
$block: \Codazon\FurnitureLayout\Block\Category\Gallery
*/ 
?>


<?php
$helper = $this->getHelper();
$widget = [
    'Codazon_FurnitureLayout/js/flat-panel' => [   
        'mediaUrl'      => $this->getCatalogProductMediaUrl(),
        'flatPanels'    => $this->getFlatPanelConfig(),
        'galleryTmpl'   => '#fly-category-gallery-tmpl',
        'flatPanelTmpl' => '#fly-category-flat-panel-tmpl',
        'width'         => (float)$helper->getConfig('codazon_furniture_layout/category_image/base_image_width'),
        'height'        => (float)$helper->getConfig('codazon_furniture_layout/category_image/base_image_height'),
        'sampleTitlePattern' => __("%1 Sample Kitchen %2")
    ]
]
?>


<div class="category-info-top">
    <div class="row">
        <div class="category-left col-sm-12">
            <div data-role="flat_panels" data-mage-init='<?= json_encode($widget) ?>' class="category-flat-panel">
                <div class="no-loaded">
                    <div class="brand-loader double-bounce-spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-right col-sm-12">
            <?php echo $this->getTabsHtml() ?>
        </div>
    </div>
</div>

<script id="fly-category-flat-panel-tmpl" type="text/x-magento-template">
<div class="style-sample-gallery" data-role="style-sample-gallery"></div>
<div class="flat-panel-list" data-role="flat-panel-list">
<% _.each(flatPanels, function(flatPanel, i) { %>
<div class="flat-panel-item">
    <div class="item-inner">
        <div class="flat-panel-name"><strong><%= flatPanel.name %></strong></div>
        <div class="style-list-outer">
            <div class="style-list MagicScroll" id="flat-style-list-<%- i %>" data-options="loop:off; arrows: inside;" data-role="style-list">
            <% _.each(flatPanel.styles, function(style) { %>
                <% if (style.material_image) { %>
                <div class="style-item" data-role="info-tooltip-wrap" data-sample='<%= JSON.stringify(style.kitchen_image) %>' data-name='<%- style.name %>'>
                    <a class="material-image abs-img" style="padding-bottom:100%" href="javascript:void(0)"><img alt="<%- style.name %>" src="<%- (mediaUrl + style.material_image.base) %>" /></a>
                    <div class="cdz-info-tooltip" data-role="info-tooltip">
                        <div class="style-info">
                            <div class="material-image-full abs-img" style="padding-bottom: 100%"><img alt="<%- style.name %>" src="<%- (mediaUrl + style.material_image.base) %>" /></div>
                            <div class="style-name"><%= style.name %></div>
                        </div>
                    </div>
                </div>
                <% } %>
            <% }); %>
            </div>
        </div>
    </div>
</div>
<% }); %>
</div>
</script>

<script id="fly-category-gallery-tmpl" type="text/x-magento-template">
    <div class="visible-xs">
        <div class="base-image-outer">
            <div class="MagicScroll" id="mb-style-images" data-options="arrows: inside; items: 1, width: 100%; pagination: false; lazyLoad: true">
                <% _.each(images, function(image) { %>
                <a style="padding-bottom: 10px; width: 100%;" title="<%- image.label %>" data-image="<%- mediaUrl + image.base %>" >
                    <img class="img-responsive" src="<%- mediaUrl + image.base %>">
                </a>
                <% }); %>
            </div>
            <div class="sample-name"><%= label %></div>
        </div>
    </div>
    <div class="row flex-grid hidden-xs">
        <div class="col-sm-4 col-xs-4 col-left">
            <div class="sample-thumbs MagicScroll" id="style-thumb-images" style="height:100%" data-options="orientation:vertical; arrows: inside; width: 100%; pagination: false; lazyLoad: true, zoomDistance: 400px">    
                <% _.each(images, function(image) { %>
                <a class="sample-thumb" style="padding-bottom: 10px; width: 100%;" data-zoom-id="style-base-image" title="<%- image.label %>" data-role="thumb" href="<%- mediaUrl + image.base %>" data-image="<%- mediaUrl + image.base %>" >
                    <img class="img-responsive" src="<%- image.small %>">
                </a>
                <% }); %>
            </div>
        </div>
        <% if (main) { %>
        <div class="col-sm-20 col-xs-20 col-right">
            <div class="base-image-outer">
                <div class="base-image-wrap abs-frame" data-role="base-image-wrap" style="padding-bottom: <%- paddingBottom %>%">
                    <div class="abs-frame-inner">
                        <a href="<%- mediaUrl + main.base %>" title="<%- main.label %>" class="MagicZoom fly-main-image" id="style-base-image" data-options="lazyZoom: true; textHoverZoomHint:; textClickZoomHint:">
                            <img class="gallery-main-img img-responsive" src="<%- mediaUrl + main.base %>" alt="<%- main.label %>">
                        </a>
                    </div>
                </div>
                <div class="sample-name"><?= __("%1 Sample Kitchen", '<%= label %>') ?></div>
            </div>
        </div>
        <% } %>
    </div>
</script>