<?php

/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
 
?>

<?php
$currentMainSubCat = $this->getCurrentRequestMainSubCat();
?>
<?php if ($currentMainSubCat) : ?>
<?php
$widget = ["Codazon_FurnitureLayout/js/f-layout" => [
    'catTabsTmpl'       => '#fly-category-tabs-tmpl',
    'categories'        => $this->getSubCategoriesData(),
    'submitUrl'         => $this->getCurrentCategory()->getUrl(),
    'catQuery'          => $this->getCatQueryString(),
    'currentCat'        => (int)$currentMainSubCat->getId(),
    'updateMsgUrl'      => $this->getUrl('customer/section/load')
]];
?>

<script id="fly-category-tabs-tmpl" type="text/x-magento-template">
<div class="fly-category-tabs">
<ul class="tab-title-wrap">
<% active = " active" %>
<% _.each(categories, function(category) { %>
<li class="tab-title<%- active %>">
    <a class="tab-link" href="<%- category.url %>" data-target="fly-tab-content-<%- category.id %>" data-id="<%- category.id %>"><%- category.name %></a>
</li>
<% active = "" %>
<% }); %>
</ul>
<div class="tab-content-wrap">
<% active = " active" %>
<% _.each(categories, function(category) { %>
    <div class="tab-content<%- active %>" id="fly-tab-content-<%- category.id %>">
        <% if (category.children) { %>
            <% _.each(category.children, function(child) { %>
            <div class="cat-item">
                <a data-role="scroll-item" href="<%- child.url %>" data-id="<%- child.id %>"><%- child.name %></a>
            </div>
            <% }); %>
        <% } %>
    </div>
    <% active = "" %>
<% }); %>
</div>
</script>

<div class="f-layout-container" data-mage-init='<?= json_encode($widget) ?>'>
    <?= $block->getBlockHtml('furniture_layout_gallery'); ?>
    <div class="f-block-title"><?= __("Start Shopping") ?></div>
    <div class="row flex-grid">
        <div class="col-sm-24 col-md-18">
            <div class="cat-tabs-container" data-role="cat-tabs-container"></div>
            <div class="cat-products" data-role="cat-products-container">
                <div id="fly-product-list-container">
                <?= $this->getChildHtml('category_products'); ?>
                </div>
            </div>
        </div>
        <div class="col-sm-24 hidden-sm col-md-6">
            <?= $this->getNotificationHtml(); ?>
        </div>
    </div>
</div>
<?php endif ?>