<?php

/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */

/*
$block: \Codazon\FurnitureLayout\Block\Category\Gallery
*/ 
?>


<?php
$gallery = $block->getGalleryImages();
$helper = $this->getHelper();
$ratio = $this->getImageRatio();
$widget = [
    'Codazon_FurnitureLayout/js/gallery' => [
        'images'        => $gallery,
        'galleryTmpl'   => '#fly-category-gallery-tmpl',
        'width'         => (float)$helper->getConfig('codazon_furniture_layout/category_image/base_image_width'),
        'height'         => (float)$helper->getConfig('codazon_furniture_layout/category_image/base_image_height'),
    ]
]
?>

<?php if ($gallery) : ?>
<div class="category-info-top">
    <div class="row">
        <div class="category-left col-sm-12">
            <div data-role="category_gallery" data-mage-init='<?= json_encode($widget) ?>' class="category-gallery">
                <div class="no-loaded">
                    <div class="brand-loader double-bounce-spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="category-right col-sm-12">
            <?php echo $this->getTabsHtml() ?>
        </div>
    </div>
</div>
<?php endif ?>

<script id="fly-category-gallery-tmpl" type="text/x-magento-template">
<% if (panorama) { %>
<div class="abs-frame" style="<%- main ? 'display:none' : '' %>; padding-bottom: <%- paddingBottom %>%" data-role="panorama-wrap">
    <div class="category-panorama abs-frame-inner" id="category-panorama"></div>
</div>
<% } %>
<% if (main) { %>
<div class="base-image-wrap abs-frame" data-role="base-image-wrap" style="padding-bottom: <%- paddingBottom %>%">
    <div class="abs-frame-inner">
        <a href="<%- main.base %>" title="<%- main.label %>" class="MagicZoom fly-main-image" id="cat-base-image" data-options="lazyZoom: true">
            <img class="gallery-main-img" src="<%- main.large %>" alt="<%- main.label %>">
        </a>
    </div>
</div>
<% } %>
<div class="MagicScroll bxslider11 cat-thumb-ul" data-options="pagination: true; lazyLoad: true, zoomDistance: 400px; loop:off; arrows: inside;">
    <% if (panorama) { %>
    <a class="cat-thumb" class="panorama-thumb" title="<%- panorama.label %>" data-role="thumb" data-viewpanorama="1" href="javascript:void(0)">
        <img src="<?= $this->getViewFileUrl('Codazon_FurnitureLayout::images/panorama-logo.png') ?>">
    </a>
    <% } %>
    
    <% _.each(images, function(image) { %>
    <a class="cat-thumb" data-zoom-id="cat-base-image" title="<%- image.label %>" data-role="thumb" href="<%- image.base %>" data-image="<%- image.large %>" >
        <img src="<%- image.small %>">
    </a>
    <% }); %>
</div>
</script>