<?php
/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */ 
?>

<?php
$enable = $this->enableSpecialNotification();
$notification = $this->getCategoryNotification();
?>

<div class="scroll-box hidden-xs" data-role="scroll-box">
    <div class="block block-minicart empty" id="fly-block-cart" data-block="minicart" style="height: auto;">
        <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
            <!-- ko template: getTemplate() --><!-- /ko -->
        </div>
        <?php echo $block->getChildHtml('minicart.addons'); ?>
    </div>
    <?php if ($enable && $notification) : ?>
    <div class="f-cat-notif" data-role="f-cat-notif">
        <div class="f-cat-notif-header"><button class="close-btn" data-role="close-notif"></button></div>
        <div class="f-cat-notif-content"><?= $notification ?></div>
    </div>
	<?php endif ?>
    <div class="actions">
        <a class="button" href="<?= $this->getSampleItemsLink() ?>"><span><?= $this->getSampleItemsLabel() ?></span></a>
        <a class="button" href="<?= $this->getUrl('checkout/cart') ?>"><span><?= __('View Cart') ?></span></a>
    </div>    
</div>
