<?php
$tabItems = $this->getTabItems();
?>
<?php if ($tabItems) : ?>
<div class="cdz-tabs-wrap tabs-style-01 fly-tabs">
    <div class="cdz-block-content" data-role="js-tab-dc-container">
        <div class="hidden" data-role="tab-links-placeholder"></div>
        <div class="cdz-tabs df-tabs hidden" data-role="tabs-dynamic-control">
        <?php $i = 1 ?>
        <?php foreach ($tabItems as $itemData) : ?>
            <div class="tab-item">
                <div class="tab-title">
					<?php 
						echo $itemData['label'];
					?>						
				</div>
                <div class="tab-content">
                    <div class="tab-content-inner scroll-inner">
                        <?php if ($itemData['can_print']) : ?>
                        <div class="content-header"><a class="print-action" href="javascript:void(0)" data-print="#tab-content-<?= $i ?>"><?= __('Print') ?></a></div>
                        <?php endif ?>
                        <div class="content-body" id="tab-content-<?= $i ?>"><?= $itemData['content'] ?></div>
                    </div>
                </div>
            </div>
        <?php endforeach ?>
        </div>
    </div>
</div>
<?php endif ?>