<?php use Magento\Framework\App\Action\Action; ?>
<?php 
$helper = $this->helper('\Magebees\Testimonial\Helper\Data');
$testimonial_config=$block->getTestimonialConfig();
$enabled=$block->getEnabled();
$collection=$block->getTestimonialCollection();
if($collection) {
	$testimonialCollection=$collection->getData(); 
	}
    else
    {
        $testimonialCollection='';
    }
$width=$block->getImageWidth()?$block->getImageWidth():'100'; 
$height=$block->getImageHeight()?$block->getImageHeight():'100';
$auto_play_slider=$block->getAutoplaySlider(); 
if(!$auto_play_slider){
	$auto_play_slider = 'false';
} else {
	$auto_play_slider = $block->getSliderSpeed()?$block->getSliderSpeed():"5000";
}
$display_arrow=$block->getShowNavArrow()?'true':'false'; 
$pagination=$block->getShowPagination()?'true':'false';
?>

<?php if($testimonialCollection && $enabled):?>
<div class="block mageTestimonials">
    <div class="block-title">
    	<h3><?php 
		$title=$block->getTestimonialTitle();
		if($title!='0')
		{
			echo $block->getTestimonialTitle();
		}
		else{
			echo('Customer Testimonial');
		} ?></h3>
    </div>
    <div class="block-content">      
        <div id="magebees_testimonial_slider" class="owl-carousel">
            <?php 
            $default_image=$this->getViewFileUrl("Magebees_Testimonial::images/no_profile.png");?>
           <?php foreach($testimonialCollection as $testimonial):?>          
            <div class="item">
                <?php if($this->getShowVideo()):?>
                    <?php if($testimonial['video_url']): ?>
                        <div id="video" class="mageTmVideo">
                        	<div class="videoWraper">
								<?php $link = $testimonial['video_url'];				
                                      $video = explode("?v=", $link);
							$video_id = '';
							if(isset($video[1])){
								$video_id = $video[1];
							}
							$autoplay = 0;
							if($this->getAutoplayVideo()){
								$autoplay = 1;
							}
									  
                            ?>
							<?php if (stripos($link,"embed") !== false) :?>
									<iframe src="<?php echo $link."?autoplay=".$autoplay; ?>&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" width="100%" height="400" allowFullScreen></iframe>
								<?php else: ?>
									<iframe src="https://www.youtube.com/embed/<?php echo $video_id."?autoplay=".$autoplay; ?>&rel=0&modestbranding=1&autohide=1&showinfo=0&controls=0" frameborder="0" width="100%" height="400" allowFullScreen></iframe>
								<?php endif; ?>
                            </div>
                    	</div>
                    <?php endif;?>
                <?php endif;?>		
            
                <div class="magetmQuotes">				
				<?php $length=$this->getContentLength(); $testimonialcontent=$testimonial['testimonial']; 
				echo $this->limit_word($testimonialcontent,$length);?>                    
                </div>                
                <div class="mageTmClient">
                    <?php if($this->getShowProfile()):?>
					<?php if($testimonial['image']):?>
				<?php	$img_path=$helper->checkImgExist($testimonial['image'],$width,$height);?>
				<?php endif;?>
                        <div class="clientPic"><img src="<?php if($testimonial['image']){ echo $img_path; } else { echo $default_image; }?>" width="<?php echo $width."px" ?>" height="<?php echo $height."px" ?>" alt="" /></div>
                    <?php endif;?>
                    <div class="clientDetails">
                        <div class="clientname">
                        	<b><?php echo $testimonial['name']; ?>, </b>
                            <span class="mageTmComp">
                        	<?php if($this->getShowWebsite()):?>
                                <a href="<?php echo $testimonial['website']; ?>" target="_blank"><?php echo $testimonial['company']; ?></a>
                                <?php else:?>
                                 <?php if($this->getShowCompany()):?>
                                    <?php echo $testimonial['company']; ?>
                                <?php endif;?>
							<?php endif;?>
                           	</span>
                        </div>
                        
                        <?php if($this->getShowEmail()):?>
                            <div class="mageTmEmail"><i title="Email"></i> <?php echo $testimonial['email']; ?>
                            </div>
                        <?php endif;?>
                        
                        <?php if(($this->getShowAddress())&&($testimonial['address'])):?>
                            <div class="mageTmAddress"><i title="Address"></i> <?php echo $testimonial['address']; ?>
                            </div>
                        <?php endif;?>
                        
                        <?php if($this->getShowCreatedate()):?>
                            <div class="mageTmDate"><i title="Posted on"></i> <?php echo $testimonial['inserted_date']; ?>
                            </div>
                        <?php endif;?>
                        
                        <?php if($this->getShowRating()):?>
                        <?php if($testimonial['rating']):?>                   	
                            <div id="ratings" class="mageTmRating">
                                <?php $rating =$testimonial['rating'];
                                $src=$this->getViewFileUrl("Magebees_Testimonial::images/rating.png");
                                $src_empty=$this->getViewFileUrl("Magebees_Testimonial::images/empty_rating.png");
                                $i=0;
                                while($i<5){
                                    if($i<$rating){ ?>
                                        <img src= "<?php echo $src ?>" height="15" width="15" />
                                    <?php } else{ ?>
                                        <img src= "<?php echo $src_empty ?>" height="15" width="15" />
                                    <?php }
                                    $i++;
                                }?>
                            </div>
                        <?php endif; ?>
                        <?php endif;?>
                    </div>
                </div>
            </div>	          
             <?php endforeach; ?>
        </div>
        <div class="button-set"><a href="<?php /* @escapeNotVerified */ echo $this->getUrl('testimonial/'); ?>" id="view_all" class="action primary"><span><?php echo('View all'); ?></span></a></div>
    </div>
</div><!--mageTestimonials-->

<script>
	requirejs(['jquery','domReady!','cwstestimonial'], function($){			
  	var slidemode=<?php echo $this->getSlidemode();?>;
		if(slidemode==0)
		{
			var slidemode=false;
		}
		else if(slidemode==1)
		{
			var slidemode='goDown';
		}
		else
		{
			var slidemode='fade';
		}
		var autoplay=<?php echo $auto_play_slider ?>;	
			var owl = $("#magebees_testimonial_slider");
			/*	owl.owlCarousel({
					slideSpeed :200,
					paginationSpeed : 800,					
					singleItem : true,					
					transitionStyle : slidemode,
					nav: <?php //echo $display_arrow ?>,
					pagination: <?php //echo $pagination; ?>,
					autoPlay:autoplay,
					stopOnHover:true,
				    autoplayHoverPause:false
		  	});*/
             owl.owlCarousel({
                    slideSpeed:200,
                    paginationSpeed: 800,
                    items : 1,                  
                    transitionStyle : slidemode,
                    nav:<?php echo $display_arrow; ?>,
                    dots: <?php echo $pagination; ?>,
                    autoplay: <?php echo $auto_play_slider ?>,
                    stopOnHover:true,
                    autoplayHoverPause:false,
                    loop:true
            });
		});	
</script>
<?php endif; ?>

		
