<?php
/**
 * @var \Fooman\PdfCustomiser\Block\Creditmemo $block
 *
 * Note on the use of @noEscape throughout this template
 * html output is allowed by design to allow users to customise their pdfs
 * Before pdf rendering all output is run filtered by @see \Magento\Framework\Filter\Input\MaliciousCode
 */
?>
<?php $creditmemo = $block->getCreditmemo() ?>
<?php $order = $block->getOrder() ?>
<?php $design = $block->getDesign() ?>

<table width="100%" border="0" cellpadding="8" cellspacing="0">
    <tr>
        <?php if ($block->isLogoOnRight()): ?>
            <td valign="top"
                width="50%"
                height="30mm"
                style="font-weight:bold; font-size:<?= /* @noEscape */ $block->getFontsize('large') ?>"
            ><?= $block->escapeHtml($block->getTitle()) ?>
                <?= /* @noEscape */ $block->getBarcodeBlock('creditmemo', 'L', false) ?></td>
            <td valign="top">&nbsp;<?= /* @noEscape */ $block->getLogoBlock() ?></td>
        <?php else: ?>
            <td width="50%"
                valign="top"><?= /* @noEscape */ $block->getLogoBlock() ?></td>
            <td valign="top"
                height="30mm"
                style="font-weight:bold; font-size:<?= /* @noEscape */ $block->getFontsize('large') ?>"
            ><?= $block->escapeHtml($block->getTitle()) ?>
                <?= /* @noEscape */ $block->getBarcodeBlock('creditmemo', 'L') ?></td>
        <?php endif; ?>
    </tr>
    <tr>
        <td valign="top" width="50%"><?= $block->escapeHtml(__('Credit Memo #')) ?>:
            <?= $block->escapeHtml($creditmemo->getIncrementId()) ?><br/>
            <?= $block->escapeHtml(__('Credit Memo Date')) ?>:
            <?= /* @noEscape */ $block->getFormattedDate($creditmemo->getCreatedAt()) ?>
            <br/>
            <?php if ($block->showOrderIncrementId()): ?>
                <?= $block->escapeHtml(__('Order #') . ': ' . $order->getIncrementId()) ?><br/>
            <?php endif; ?>
            <?= $block->escapeHtml(__('Order Date')) ?>:
            <?= /* @noEscape */ $block->getFormattedDate($order->getCreatedAt()) ?><br/>
        </td>
        <td valign="top"><?= /* @noEscape */ nl2br($block->getOwnerAddress()) ?></td>
    </tr>
    <tr>
        <?php if ($block->shouldDisplayBothAddresses()): ?>
        <!--Example with indentation of address, adjust the percentages to adjust the left-right positioning
            <td valign="top" colspan="2">
                <table>
                    <tr>
                        <td width="5%"></td>
                        <td width="45%"><?= $block->escapeHtml(__('Sold to:')) ?>
                        <br/><?= /* @noEscape */ $block->getBillingAddress() ?></td>
                        <td width="5%"></td>
                        <td width="45%"><?= $block->escapeHtml(__('Ship to:')) ?>
                        <br/><?= /* @noEscape */ $block->getShippingAddress() ?></td>
                    </tr>
                </table>
            </td>-->
        <td valign="top"
            width="50%"
            style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"
        ><?= $block->escapeHtml(__('Sold to:')) ?></td>
        <td valign="top"
            style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"
        ><?php if (!$order->getIsVirtual()):
            ?><?= $block->escapeHtml(__('Ship to:')) ?><?php
            endif; ?></td>
    </tr>
    <tr>
        <td valign="top"
            style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, true, false)?>"
        ><?= /* @noEscape */ $block->getBillingAddress() ?></td>
        <td valign="top"
            style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, false, true)?>"
        ><?php if (!$order->getIsVirtual()):
            ?><?= /* @noEscape */ $block->getShippingAddress() ?><?php
            endif; ?></td>
        <?php elseif ($block->shouldDisplayShippingAddress()): ?>
        <td valign="top"
            colspan="2"
            style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"></td>
        </tr>
        <tr>
            <td valign="top"
                colspan="2"
                style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, true, true)?>"
            ><?= /* @noEscape */ $block->getShippingAddress() ?></td>
        <?php elseif ($block->shouldDisplayBillingAddress()): ?>
            <td valign="top"
                colspan="2"
                style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"></td>
        </tr>
        <tr>
            <td valign="top"
                colspan="2"
                style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, true, true)?>"
            ><?= /* @noEscape */ $block->getBillingAddress() ?></td>
        <?php endif; ?>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <?php if ($order->getIsVirtual()): ?>
        <tr>
            <td valign="top"
                colspan="2"
                style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"
            ><strong><?= $block->escapeHtml(__('Payment Method')) ?></strong></td>
        </tr>
        <tr>
            <td valign="top"
                colspan="2"
                style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, true, true)?>"
            ><?= /* @noEscape */ $block->getPaymentBlock() ?></td>
        </tr>
    <?php else: ?>
        <tr>
            <td valign="top"
                width="50%"
                style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"
            ><strong><?= $block->escapeHtml(__('Payment Method')) ?></strong></td>
            <td valign="top"
                style="<?= /* @noEscape */ $block->getDesign()->getHeaderStyle(true, true)?>"
            ><strong><?= $block->escapeHtml(__('Shipping Method')) ?></strong></td>
        </tr>
        <tr>
            <td valign="top"
                width="50%"
                style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, true, false)?>"
            ><?= /* @noEscape */ $block->getPaymentBlock() ?></td>
            <td valign="top"
                style="<?= /* @noEscape */ $block->getDesign()->getCellStyle(true, true, false, true)?>"
            ><?= /* @noEscape */ $block->getShippingBlock() ?></td>
        </tr>
    <?php endif; ?>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>

<?= /* @noEscape */ $block->getItemsBlock($design->getItemStyling()) ?>

<?= /* @noEscape */ $block->getTotalsBlock() ?>

<?= /* @noEscape */ $block->getTaxTableBlock() ?>

<?= /* @noEscape */ $block->getCommentsBlock() ?>

<?php $customText = $block->getCustomText() ?>
<?php if ($customText): ?>
    <br/>
    <table width="100%" border="0" cellpadding="8" cellspacing="0">
        <tr>
            <td colspan="2"><?= /* @noEscape */ $customText ?></td>
        </tr>
    </table>
<?php endif; ?>

<?php $groupText = $block->getGroupText($order->getCustomerGroupId()) ?>
<?php if ($groupText): ?>
    <br/>
    <table width="100%" border="0" cellpadding="2" cellspacing="0">
        <tr>
            <td colspan="2"> <?= /* @noEscape */ $groupText ?></td>
        </tr>
    </table>
<?php endif; ?>