<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<li class="item product product-item style-02" data-role="product-item">
    <div class="product row">
        <div class="product-item-left col-xs-6">
            <!-- ko if: product_has_url -->
            <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
                <!-- ko foreach: $parent.getRegion('itemImage') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                <!-- /ko -->
            </a>
            <!-- /ko -->
            <!-- ko ifnot: product_has_url -->
            <span class="product-item-photo">
                <!-- ko foreach: $parent.getRegion('itemImage') -->
                    <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
                <!-- /ko -->
            </span>
            <!-- /ko -->
            <a href="javascript:void(0)" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
               class="action delete">
                <span data-bind="i18n: 'Remove'"></span>
            </a>
            <!-- ko if: is_visible_in_site_visibility -->
            <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                <span data-bind="i18n: 'Edit'"></span>
            </a>
            <!-- /ko -->
        </div>
        <div class="product-item-details col-xs-18">
            <div class="row">
				<div class="col-xs-24 product-info">
					<strong class="product-item-name">
						<!-- ko if: product_has_url -->
						<a data-bind="attr: {href: product_url}, html: product_name"></a>
						<!-- /ko -->
						<!-- ko ifnot: product_has_url -->
							<!-- ko html: product_name --><!-- /ko -->
						<!-- /ko -->
					</strong>
				</div>
				<div class=" col-xs-24 product-item-actions row">
					<div class="product-item-pricing col-xs-12">
						<!-- ko if: canApplyMsrp -->
						<div class="details-map">
							<span class="label" data-bind="i18n: 'Price'"></span>
							<span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
						</div>
						<!-- /ko -->
						<!-- ko ifnot: canApplyMsrp -->
						<!-- ko foreach: $parent.getRegion('priceSidebar') -->
							<!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
						<!-- /ko -->
						<!-- /ko -->
                    </div>
                    <div class="details-qty qty col-xs-12">
                        <label class="label" data-bind="i18n: 'Qty', attr: {
                               for: 'cart-item-'+item_id+'-qty'}"></label>
                        <input data-bind="attr: {
                               id: 'cart-item-'+item_id+'-qty',
                               'data-cart-item': item_id,
                               'data-item-qty': qty,
                               'data-cart-item-id': product_sku
                               }, value: qty"
                               type="number"
                               size="4"
                               class="item-qty cart-item-qty"
                               maxlength="12"/>
                        <button data-bind="attr: {
                               id: 'update-cart-item-'+item_id,
                               'data-cart-item': item_id,
                               title: $t('Update')
                               }"
                                class="update-cart-item"
                                style="display: none">
                            <span data-bind="i18n: 'Update'"></span>
                        </button>
                    </div>
                </div>
                <!-- ko if: options.length -->
                <div class="col-xs-24 product options" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                    <span data-role="title" class="toggle"><!-- ko i18n: 'See Details' --><!-- /ko --></span>
                    <div data-role="content" class="content">
                        <strong class="subtitle"><!-- ko i18n: 'Options Details' --><!-- /ko --></strong>
                        <dl class="product options list">
                            <!-- ko foreach: { data: options, as: 'option' } -->
                            <dt class="label"><!-- ko text: option.label --><!-- /ko --></dt>
                            <dd class="values">
                                <!-- ko if: Array.isArray(option.value) -->
                                    <span data-bind="html: option.value.join('<br>')"></span>
                                <!-- /ko -->
                                <!-- ko ifnot: Array.isArray(option.value) -->
                                    <span data-bind="html: option.value"></span>
                                <!-- /ko -->
                            </dd>
                            <!-- /ko -->
                        </dl>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        </div>
    </div>
</li>