<?php
/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
$widget = $this->getConfigParams();
$_category  = $block->getCurrentCategory();
$_helper    = $this->helper('Magento\Catalog\Helper\Output');
?>
<?= $this->getChildHtml('landing_page_config') ?>
<div class="category-container" data-mage-init='<?=  json_encode($widget) ?>'>
    <?php
    $_imgHtml   = '';
    if ($_imgUrl = $_category->getImageUrl()) {
        $_imgHtml = '<div class="category-image"><img src="' . $_imgUrl . '" alt="' . $block->escapeHtml($_category->getName()) . '" title="' . $block->escapeHtml($_category->getName()) . '" class="image" /></div>';
        $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
        /* @escapeNotVerified */ echo $_imgHtml;
    }
    ?>
    <?= $this->getContentHtml() ?>
</div>