<?php
/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
$filterableAttr = $this->getFilterableAttributes();
$sortbyAttr = $this->getUsedForSortByAttributes();
$suffix = uniqid('-');
$currentPage = $_SERVER['REQUEST_URI'];
$isEuro = strpos($currentPage,"flat-panel")!==false?false:true;
?>

<?php if ($filterableAttr->count()) : ?>
<div class="category-filter-container" data-role="category-filter-container">
<?php foreach ($filterableAttr as $attribute) : ?>
<?php
    $label = $attribute->getStoreLabel();
    $code = $attribute->getAttributeCode();
    $options = $attribute->getFrontend()->getSelectOptions();
?>
<div class="box-item mb-box-item" role="box-item">
    <div role="box-trigger" class="box-trigger"><?= $label ?></div>
    <div role="box-options" class="box-options" style="display:none">
        <div class="options-list" data-role="options-list">
        <?php foreach ($options as $option) : ?>
        <?php if (!$option['value']) continue ?>
        <?php
        $uid = $code . '-' .$option['value'] . $suffix;
        ?>
        <div class="option-item<?php if(!($option['label']=="Flat Panel" XOR $isEuro)) {echo ' hidden-option';}?>">
            <span class="checkbox-wrap">
                <input id="<?= $uid ?>" type="checkbox"  data-role="filter" data-code="<?= $code ?>" data-value="<?= $option['value'] ?>" <?= $this->isActiveFilter($code, $option['value'])?'checked':''; ?> />
                <span class="checkbox-mask"></span>
            </span>
            <label for="<?= $uid ?>"><?= $option['label'] ?></label></div>
        <?php endforeach ?>
        </div>
    </div>
</div>
<?php endforeach ?>
</div>
<?php endif ?>

<?php if ($sortbyAttr->count()) : ?>
<div class="category-filter-container">
<?php
$replaceTextArray = $this->getReplaceTextArray();
$name = 'sort' . $suffix;
?>
<?php foreach ($sortbyAttr as $attribute) : ?>
<?php
    $label = $attribute->getStoreLabel();
    $code = $attribute->getAttributeCode();
    if (!empty($replaceTextArray[$code])) {
        $ascLabel = $replaceTextArray[$code]['asc'];
        $descLabel =$replaceTextArray[$code]['desc'];
    } else {
        $ascLabel = __('Lower to Higher');
        $descLabel = __('Higher to Lower');
    }
    $options = [
        ['value' => 'asc',      'label' => $ascLabel],
        ['value' => 'desc',     'label' => $descLabel],
    ];
?>
<div class="box-item mb-box-item <?= $code ?>" role="box-item">
    <div role="box-trigger" class="box-trigger"><?= $label ?></div>
    <div role="box-options" class="box-options" style="display:none">
        <div class="options-list" data-role="options-list">
        <?php foreach ($options as $option) : ?>
        <?php if (!$option['value']) continue ?>
        <?php
        $uid = $code . '-' .$option['value'] . $suffix;
        ?>
        <div class="option-item">
            <span class="checkbox-wrap">
                <input id="<?= $uid ?>" type="radio" data-inputname="<?= $name ?>" data-role="sort" data-code="<?= $code ?>" data-value="<?= $option['value'] ?>" <?= $this->isActiveOrder($code, $option['value'])?'checked':''; ?> />
                <span class="radio-mask checkbox-mask"></span></span>
            <label for="<?= $uid ?>"><?= $option['label'] ?></label></div>
        <?php endforeach ?>
        </div>
    </div>
</div>
<?php endforeach ?>
</div>
<?php endif ?>
<div class="category-filter-container clear-container">
    <button class="clear-filter" data-role="clear"><span><?= __('Clear filters') ?></span></button>
</div>