    <div id="js-filters-masonry" class="cbp-l-filters-alignRight">
        <div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
            All <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".bathroom" class="cbp-filter-item">
            Bathroom <div class="cbp-filter-counter"></div>
        </div>
		<div data-filter=".bar" class="cbp-filter-item">
            Bar <div class="cbp-filter-counter"></div>
        </div>
		<div data-filter=".island" class="cbp-filter-item">
            Island <div class="cbp-filter-counter"></div>
        </div>
		<div data-filter=".kitchen" class="cbp-filter-item">
            Kitchen <div class="cbp-filter-counter"></div>
        </div>
		<div data-filter=".laundryroom" class="cbp-filter-item">
            Laundry Room <div class="cbp-filter-counter"></div>
        </div>
        <div data-filter=".livingroom" class="cbp-filter-item">
            Living Room <div class="cbp-filter-counter"></div>
        </div>
		<div data-filter=".mudroom" class="cbp-filter-item">
            Mudroom <div class="cbp-filter-counter"></div>
        </div>		
		<div data-filter=".storage" class="cbp-filter-item">
            Storage <div class="cbp-filter-counter"></div>
        </div>
		<div data-filter=".studio" class="cbp-filter-item">
            Studio <div class="cbp-filter-counter"></div>
        </div>        
    </div>
    <?php
		$media_url = $this->getUrl('pub/media');
	?>
    <div id="js-grid-masonry" class="cbp">
        <div class="cbp-item kitchen island storage">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-island-with-bookshelf/" class="cbp-caption" data-title="Design Ideas - Kitchen Island with Bookshelf" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Island-with-Bookshelf.jpg" notlazy alt="Design Ideas - Kitchen Island with Bookshelf">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Kitchen Island with Bookshelf</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>        
        <div class="cbp-item bathroom storage">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-double-vanity-with-linen-tower/" class="cbp-caption" data-title="Design Ideas - Double Vanity with Linen Tower" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Double-Vanity-with-Linen-Tower.jpg" notlazy alt="Design Ideas - Double Vanity with Linen Tower">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Double Vanity with Linen Tower</div>
                            <div class="cbp-l-caption-desc">Bathroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kitchen studio">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-studio-kitchen/" class="cbp-caption" data-title="Design Ideas - Studio Kitchen" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Studio-Kitchen.jpg" notlazy alt="Design Ideas - Kitchen Island with Bookshelf">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Studio Kitchen</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item mudroom storage">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-food-station/" class="cbp-caption" data-title="Design Ideas - Mudroom with Food Station" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Mudroom-with-Food-Station.jpg" notlazy alt="Design Ideas - Mudroom with Food Station">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Mudroom with Food Station</div>
                            <div class="cbp-l-caption-desc">Mudroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item storage laundryroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-small-laundry-and-sink-combo/" class="cbp-caption" data-title="Design Ideas - Small Laundry and Sink Comb" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Small-Laundry-and-Sink-Combo.jpg" notlazy alt="Design Ideas - Small Laundry and Sink Comb">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Small Laundry and Sink Comb</div>
                            <div class="cbp-l-caption-desc">Laundry Room Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kitchen island">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-two-tier-island/" class="cbp-caption" data-title="Design Ideas - Two Tier Island" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Ideas-Two-Tier-Island.jpg" notlazy alt="Design Ideas - Two Tier Island">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Two Tier Island</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kitchen">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-staggered-depth-kitchen-cabinet/" class="cbp-caption" data-title="Design Ideas - Staggered Depth Kitchen Cabinet" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Staggered-Depth-Kitchen-Cabinet.jpg" notlazy alt="Design Ideas - Staggered Depth Kitchen Cabinet">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Staggered Depth Kitchen Cabinet</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item livingroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-euro-tv-wall/" class="cbp-caption" data-title="Design Ideas - Euro TV Wall" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Euro-TV-wall.jpg" notlazy alt="Design Ideas - Euro TV Wall">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Euro TV Wall</div>
                            <div class="cbp-l-caption-desc">Living Romm Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kitchen island">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-island-with-apron-sink/" class="cbp-caption" data-title="Design Ideas - Island with Apron Sink" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Island-with-Apron-Sink.jpg" notlazy alt="Design Ideas - Island with Apron Sink">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Island with Apron Sink</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item mudroom storage">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-coat-rack/" class="cbp-caption" data-title="Design Ideas - Mudroom with Coat Rack" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Mudroom-with-Coat-Rack.jpg" notlazy alt="Design Ideas - Mudroom with Coat Rack">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Mudroom with Coat Rack</div>
                            <div class="cbp-l-caption-desc">Mudroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item kitchen island">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-island-with-microwave/" class="cbp-caption" data-title="Design Ideas - Island with Microwave" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Island-with-Microwave.jpg" notlazy alt="Design Ideas - Island with Microwave">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Island with Microwave</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item kitchen island">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-island-with-food-station/" class="cbp-caption" data-title="Design Ideas - Island with Food Sation" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Island-with-Food-Station.jpg" notlazy alt="Design Ideas - Island with Food Sation">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Island with Food Station</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item bar">
            <a href="//view.publitas.com/bestonlinecabinets/design_idea_wet_bar/" class="cbp-caption" data-title="Design Idea - Wet Bar with Staggered Height Cabinetry" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Wet-Bar.jpg" notlazy alt="Design Idea - Wet Bar with Staggered Height Cabinetr">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Wet Bar with Staggered Height Cabinetry</div>
                            <div class="cbp-l-caption-desc">Wet Bar Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item laundryroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-laundry-with-stacked-washer-dryer/" class="cbp-caption" data-title="Design Idea - Laundry with Stacked Washer Dryer" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea_Laundry_with_Stacked_Wahser_Dryer.jpg" notlazy alt="Design Idea - Laundry with Stacked Washer Dryer">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Laundry with Stacked Washer Dryer</div>
                            <div class="cbp-l-caption-desc">Laundry Room Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item kitchen studio">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-studio-kitchen-l-shaped/" class="cbp-caption" data-title="Design Idea - Studio Kitchen - L-Shaped" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea_Studio_kitchen_L-Shaped.jpg" notlazy alt="Design Idea - Studio Kitchen - L-Shaped">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Studio Kitchen - L-Shaped</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item bathroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-vanity-with-staggered-depth/" class="cbp-caption" data-title="Design Idea - Vanity with Staggered Depth" target="_blank">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Vanity-with-Staggered-Depth.jpg" notlazy alt="Design Idea - Vanity with Staggered Depth">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Vanity with Staggered Depth</div>
                            <div class="cbp-l-caption-desc">Bathroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item bar">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-wet-bar-with-staggered-depth-wall-cabinets/" class="cbp-caption" data-title="Wet Bar with Staggered Depth Wall Cabinets">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea-Wet-Bar-with-Staggered-Depth-Wall-Cabinets.jpg" notlazy alt="Design Idea - Wet Bar with Staggered Depth Wall Cabinets">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Wet Bar with Staggered Depth Wall Cabinets</div>
                            <div class="cbp-l-caption-desc">Wet Bar Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item bathroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-double-vanity-with-center-tower/" class="cbp-caption" data-title="Double Vanity with Center Tower">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea_Double_Vanity_with_Center_Tower.jpg" notlazy alt="Design Idea - Double Vanity with Center Tower">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Double Vanity with Center Tower</div>
                            <div class="cbp-l-caption-desc">Bathroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item bar">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-european-style-wet-bar/" class="cbp-caption" data-title="European Style Wet Bar">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea_European_Style_Wet_Bar.jpg" notlazy alt="Design Idea - European Style Wet Bar">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">European Style Wet Bar</div>
                            <div class="cbp-l-caption-desc">Wet Bar Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		<div class="cbp-item laundryroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-laundry-l-shaped/" class="cbp-caption" data-title="Laundry L-Shaped">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea_Laundry_L_Shaped.jpg" notlazy alt="Design Idea - Laundry L-Shaped">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Laundry L-Shaped</div>
                            <div class="cbp-l-caption-desc">Laundryroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		
		<div class="cbp-item laundryroom mudroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-laundry/" class="cbp-caption" data-title="Mudroom with Laundry">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design-Idea_Mudroom_with_Laundry.jpg" notlazy alt="Design Idea - Mudroom with Laundry">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Mudroom with Laundry</div>
                            <div class="cbp-l-caption-desc">Mudroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		
		<div class="cbp-item bar">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-european-style-wet-bar-u-shaped/" class="cbp-caption" data-title="European Style Wet Bar U-Shaped">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design_Idea_European_Style_Wet_Bar_U_Shaped.jpg" notlazy alt="Design Idea - European Style Wet Bar U-Shaped">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">European Style Wet Bar U-Shaped</div>
                            <div class="cbp-l-caption-desc">Bar Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		
		<div class="cbp-item kitchen">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-kitchen-island-with-wine-rack/" class="cbp-caption" data-title="Kitchen Island with Wine Rack">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design_Idea_Kitchen_Island_with_Wine_Rack.jpg" notlazy alt="Design Idea - Kitchen Island with Wine Rack">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Kitchen Island with Wine Rack</div>
                            <div class="cbp-l-caption-desc">Kitchen Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		
		<div class="cbp-item livingroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-living-room-entertainment-center/" class="cbp-caption" data-title="Living Room Entertainment Center">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design_Idea_Living_Room_Entertainment_Center.jpg" notlazy alt="Design Idea - Living Room Entertainment Center">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Living Room Entertainment Center</div>
                            <div class="cbp-l-caption-desc">Living Room Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
		
		<div class="cbp-item mudroom">
            <a href="//view.publitas.com/bestonlinecabinets/design-idea-mudroom-with-varied-depth/" class="cbp-caption" data-title="Mudroom with Varied Depth">
                <div class="cbp-caption-defaultWrap">
                    <img class="lazyOwl" src="<?php echo $media_url;?>wysiwyg/design-ideas/Design_Idea_Mudroom_with_varied_depth.jpg" notlazy alt="Design Idea - Mudroom with Varied Depth">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Mudroom with Varied Depth</div>
                            <div class="cbp-l-caption-desc">Mudroom Design Idea</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
<script type="text/javascript">	
	require(['jquery', 'Codazon_FurnitureLayout/js/jquery.cubeportfolio'], function($) { 
        $('#js-grid-masonry').cubeportfolio({
            filters: '#js-filters-masonry',
            layoutMode: 'grid',
            defaultFilter: '*',
            animationType: 'slideDelay',
            gapHorizontal: 20,
            gapVertical: 20,
            gridAdjustment: 'responsive',
            mediaQueries: [{
                width: 1500,
                cols: 5,
            }, {
                width: 1100,
                cols: 4,
            }, {
                width: 800,
                cols: 3,
            }, {
                width: 480,
                cols: 2,
                options: {
                    caption: '',
                    gapHorizontal: 10,
                    gapVertical: 10,
                }
            }],
            caption: 'overlayBottomAlong',
            displayType: 'bottomToTop',
            displayTypeSpeed: 100,

            // lightbox
            lightboxDelegate: '.cbp-lightbox',
            lightboxGallery: true,
            lightboxTitleSrc: 'data-title',
            lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
        });
    });
</script>
