<?php
/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$collection = $this->getCategoryCollection();
$desc = $this->getCurrentCategory()->getDescription();
?>


<?= $this->getToolbarHtml() ?>
<?php if ($desc) : ?>
    <div class="description"><?= $desc ?></div>
<?php endif ?>
<?php if ($collection->count()) : ?>
<?php
    $helper = $this->helper('Codazon\FurnitureLayout\Helper\Data');
    $imageHelper = $this->helper('Magento\Catalog\Helper\Image');
    $priceHelper = $this->helper('Magento\Framework\Pricing\Helper\Data');
    $width = (float)$helper->getConfig('codazon_furniture_layout/category_image/thumbnail_image_width');
    $height = (float)$helper->getConfig('codazon_furniture_layout/category_image/thumbnail_image_height');
    $paddingBottom = 100*$height/$width;
    $compareLabel = __('Add to Compare');
    $priceLabel = __('Basic Kitchen Starting At');
    $sampleLabel = __('Order a Sample');
    /*$sampleLink = $this->getSampleItemsLink();*/
    $buyLabel = __('Shop Now');
	$lowInventoryLabel = __('Low Inventory');
	$outOfStockLabel = __('Out Of Stock');
	$discontinuedLabel = __('Discontinued');
?>
<div class="products wrapper category-inner" id="landing-category-wrapper">
    <ul class="items category-list list flex-grid">
        <?php foreach ($collection as $category) : ?>
        <?php
            $catImg =  $imageHelper->init($category, 'category_page_grid')
                            ->setImageFile($category->getData('cat_thumbnail'))->resize($width, $height)->getUrl();
            $url = $category->getUrl();
            $name = $category->getName();
            $price = $category->getData('catprice');
			$specialPrice = $category->getData('spcatprice');
			$isSpecial = isset($specialPrice)&&($price!=$specialPrice);
			$zlink = $category->getData('z_custom_link');
			$sampleLink = $category->getData('f_cat_sample_link')? : "https://www.bestonlinecabinets.com/sample-doors.html";
			$catStatus = $category->getData('catstatus');
			$iscatSpecial = ($catStatus==6057)||($catStatus==6058) || ($catStatus==6062);

        ?>
        <li class="cat-item item">
            <div class="cat-item-inner">
                <div class="cat-item-top">
                    <div class="cat-item-compare">
                        <input data-catcomparetoggle="<?= $category->getId() ?>" type="checkbox" autocomplete="off" /> <label><?= $compareLabel ?></label>
                    </div>
                    <a href="<?= $url ?>" class="cat-img abs-img" style="padding-bottom: <?= $paddingBottom ?>%">
                        <img src="<?= $catImg ?>" alt="<?= $name ?>" class="landing-img"/>
                        <span class="cat-item-name" title="<?= $name ?>"><?= $name ?></span>
                    </a>
                    <div class="cat-item-price">
                        <div class="price-label<?php if($iscatSpecial){echo " hidden";}?>"><?= $priceLabel ?>
                            <p class="price-value">
                                <span class="regualr<?php if($isSpecial){echo " with-special";}?>">$<?= number_format($price, 0, ',', ',') ?></span>
                                <?php if($isSpecial):?>
                                    <span class="is-special">$<?= number_format($specialPrice, 0, ',', ',') ?></span>
                                <?php endif;?>
                            </p>
                        </div>
                        <?php if($iscatSpecial):?>
                            <div class="cat-notification ">
                                <?php if($catStatus==6057):?>
                                    <?= $lowInventoryLabel?>
                                <?php elseif($catStatus==6058):?>
                                    <?= $outOfStockLabel?>
                                <?php elseif($catStatus==6062):?>
                                    <?= $discontinuedLabel?>
                                <?php endif;?>
                            </div>
                        <?php endif;?>
                    </div>
                </div>
				<div class="cat-item-middle"><?= $zlink ?></div>
                <div class="cat-item-bottom">

                    <div class="actions">
                        <a class="sample-btn btn" href="<?= $sampleLink ?>"><span><?= $sampleLabel ?></span></a>
                        <a class="buy-btn btn" href="<?= $url ?>"><span><?= $buyLabel ?></span></a>
                    </div>
                </div>
            </div>
        </li>
        <?php endforeach ?>
    </ul>
</div>
<?= $this->getToolbarHtml(false) ?>
<script>
require(['jquery'], function($) {
    $('#landing-category-wrapper').next('.toolbar.toolbar-products').find('.category-filter-container').remove();
    $('[data-inputname]').each(function() {
        var $input = $(this), name = $input.data('inputname');
        $input.attr('name', name).removeAttr('data-inputname');
    });
});
</script>
<?php else : ?>
<div class="message info empty"><div><?= __('We can\'t find categories matching the selection.') ?></div></div>
<?php endif ?>
