<?php
/**
 * Copyright © Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$cssFile = $block->getViewFileUrl('Codazon_FurnitureLayout::css/current-sale.css');
?>

<link  rel="stylesheet" type="text/css"  media="all" href="<?= $cssFile ?>" />

<script id="cdz-current-sale-group-tmpl" type="text/x-magento-template">
<div class="crs-group" data-role="crs-group" data-discount_type="<%- group.options.discount_type %>">
    <div class="crs-header">
        <span class="discount-label"><?= __('Save') ?></span>
        <div class="discount-amount">
            <span class="discount-value"><%- group.options.discount_amount %></span>
        </div>
        <div class="crs-title">
            <div class="sub-title"><?= __('On the following') ?></div>
            <div class="main-title"><%- widget._getStoreValue(group.options.group_title) %></div>
        </div>
        <div class="crs-promo-code">
            <% if (parseInt(group.options.is_sale_on)) { %>
            <div class="sub-title"><?= __('Use pro code') ?></div>
            <div class="crs-code-label"><%- group.options.promo_code  %></div>
            <% } else { %>
            <div class="sub-title"><?= __('Sale Starts on') ?></div>
            <div class="crs-code-label"><%- widget._getStoreValue(group.options.start_date)  %></div>
            <% } %>
        </div>
    </div>
    <div class="crs-body">
        <div class="sub-cat-container flex-grid">
        <% _.each(group.subcats, function(subcatId) { %>
        <%= widget._getSubCatItemHtml(subcatId, group.options) %>        
        <% }); %>
        </div>
    </div>
</div>
</script>

<script id="cdz-current-sale-subcat-tmpl" type="text/x-magento-template">
<div class="sub-cat-item item" data-id='<%- subcat.id %>'>
    <div class="item-inner">
        <a class="cat-name" href="<%- subcat.url %>"><%- subcat.alias_name ? subcat.alias_name : subcat.name %></a>
        <div class="item-top">
            <a class="cat-image abs-img" style="padding-bottom: <%- padding_bottom %>%" href="<%- subcat.url %>">
                <img alt="<%- subcat.name %>" class="swatch-option-loading" data-src="<%- subcat.cat_thumbnail %>" />
            </a>
            <% if (subcat.catgroup) { %>
            <div class="item-label">
				<% if(subcat.catgroup==6066){ %>
					<?= __('RTA'); ?>
				<% } else if(subcat.catgroup==6067) {%>
					<?= __('ASSEMBLED'); ?>
				<% } %></div>
            <% } %>
        </div>
        <div class="item-info">
            <div class="cat-price"><span class="label"><?= __('Basic Kitchen Price:') ?></span> <span class="value"><%- widget._formatPrice(subcat.catprice) %></span></div>
            <div class="actions">
                <a class="btn order-sample" href="<%= subcat.f_cat_sample_link %>"><?= __('Order a Sample'); ?></a>
                <a class="btn shop-now" href="<%- subcat.url %>"><?= __('Shop Now'); ?></a>
            </div>
        </div>
    </div>
</div>
</script>