<?php
/**
* Copyright © 2019 Codazon. All rights reserved.
* See COPYING.txt for license details.
*/
?>

<?= $this->getChildHtml() ?>

<?php
$widget = [
    'Codazon_FurnitureLayout/js/current-sale' => [
        'data'    => $this->getCurrenSaleData(),
        'store'     => $this->getCurrentStoreId()
    ]
];
?>

<div class="current-sale-layout" data-mage-init='<?= json_encode($widget); ?>'>
    <div class="no-loaded" data-role="loader">
        <div class="double-bounce-spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
    <div class="group-filter" data-role="group-filter"></div>
    <div class="group-list" data-role="group-list"></div>
</div>