<?php

/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */

/*
$block: \Codazon\FurnitureLayout\Block\Category\Gallery
*/ 
?>
<?php
$gallery = $block->getGalleryImages();
$helper = $this->getHelper();
$ratio = $this->getImageRatio();
$uid = uniqid('-');
$widget = [
    'Codazon_FurnitureLayout/js/gallery' => [
        'images'        => $gallery,
        'galleryTmpl'   => '#fly-widget-image-gallery-tmpl',
        'width'         => $this->getBaseWidth(),
        'height'        => $this->getBaseHeight(),
        'uid'           => $uid
    ]
];
$cssFiles = [
    $block->getViewFileUrl('Codazon_FurnitureLayout::magicscroll/magicscroll.css'),
    $block->getViewFileUrl('Codazon_FurnitureLayout::magiczoomplus/magiczoomplus.css'),
    $block->getViewFileUrl('Codazon_FurnitureLayout::css/pannellum.css'),
    $block->getViewFileUrl('Codazon_FurnitureLayout::css/f-layout-1.css'),
];
?>
<?php if ($gallery) : ?>
<?php if ($this->needToDisplayTemplateScript()) : ?>
<script type="text/javascript">
require(['jquery'], function($) {
    if ($('#widget-image-gallery-script').length == 0) {
        var cssFiles = <?= json_encode($cssFiles) ?>;
        var $placeholder = $('<script>').attr('id', 'widget-image-gallery-script').prependTo('head');
        $.each(cssFiles, function(i, file) {
            if ($('link[href="' + file + '"]').length == 0) {
                $('<link  rel="stylesheet" type="text/css"  media="all" href="'+ file +'" />').insertBefore($placeholder);
            }
        });
    }
});
</script>
<script id="fly-widget-image-gallery-tmpl" type="text/x-magento-template">
<% if (panorama) { %>
<div class="abs-frame" style="<%- main ? 'display:none' : '' %>; padding-bottom: <%- paddingBottom %>%" data-role="panorama-wrap">
    <div class="category-panorama abs-frame-inner" id="category-panorama<%- uid %>"></div>
</div>
<% } %>
<% if (main) { %>
<div class="base-image-wrap abs-frame" data-role="base-image-wrap" style="padding-bottom: <%- paddingBottom %>%">
    <div class="abs-frame-inner">
        <a href="<%- main.base %>" title="<%- main.label %>" class="MagicZoom fly-main-image" id="cat-base-image<%- uid %>" data-options="lazyZoom: true">
            <img class="gallery-main-img" src="<%- main.large %>" alt="<%- main.label %>">
        </a>
    </div>
</div>
<% } %>
<div class="MagicScroll bxslider11 cat-thumb-ul" data-options="pagination: true; lazyLoad: true, zoomDistance: 400px; loop:off; arrows: inside;">
    <% if (panorama) { %>
    <a class="cat-thumb" class="panorama-thumb" title="<%- panorama.label %>" data-role="thumb" data-viewpanorama="1" href="javascript:void(0)">
        <img src="<?= $this->getViewFileUrl('Codazon_FurnitureLayout::images/panorama-logo.png') ?>">
    </a>
    <% } %>
    
    <% _.each(images, function(image) { %>
    <a class="cat-thumb" data-zoom-id="cat-base-image<%- uid %>" title="<%- image.label %>" data-role="thumb" href="<%- image.base %>" data-image="<%- image.large %>" >
        <img src="<%- image.small %>">
    </a>
    <% }); %>
</div>
</script>
<?php endif ?>
<div data-role="category_gallery" data-mage-init='<?= json_encode($widget) ?>' class="category-gallery">
    <div class="no-loaded">
        <div class="brand-loader double-bounce-spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>
<?php endif ?>