<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
?>
<?php /** @var $block Magento\Bundle\Block\Catalog\Product\View\Type\Bundle */ ?>
<?php
$product = $block->getProduct();
$helper = $this->helper(Magento\Catalog\Helper\Output::class);
$stripSelection = $product->getConfigureMode() ? true : false;
$options = $block->decorateArray($block->getOptions($stripSelection));
$widget = [
    'Codazon_FurnitureLayout/js/bundle' => [
        'isLazy'        => false,
        'productId'     => $product->getId(),
        'optionConfig'  => json_decode($block->getJsonConfig(), true),
        'controlContainer' => '.field.option'
    ]
];
?> 
<div class="product-bundle-options"  data-mage-init='<?= json_encode($widget); ?>'>
<?php if ($product->isSaleable()) :?>
    <?php if (count($options)) : ?>
        <fieldset class="fieldset fieldset-bundle-options">
            <?= $block->getChildHtml('product_info_bundle_options_top') ?>
            <?php foreach ($options as $option) : ?>
            <div class="option-item" role="option_item">
                <?php
                if (!$option->getSelections()) {
                    continue;
                } else {
                    echo $block->getOptionHtml($option);
                }
                ?>
            </div>
            <?php endforeach; ?>
        </fieldset>
    <?php else : ?>
        <p class="empty"><?= $block->escapeHtml(__('No options of this product are available.')) ?></p>
    <?php endif; ?>
<?php endif;?>
</div>