<?php
/**
 * Copyright © Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$_product = $this->getProduct();
?>
<div class="product-bundle-options-wrapper">
    <div class="product-add-form">
         <form data-product-sku="<?= $block->escapeHtmlAttr($_product->getSku()) ?>" data-bundlepriceconfig='{"priceConfig": <?= $block->getJsonConfig() ?>}'
          action="<?= $block->escapeUrl($block->getSubmitUrl($_product)) ?>" method="post"
          id="cdz_product_addtocart_form_<?= $_product->getId() ?>"<?php if ($_product->getOptions()) :?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?= (int)$_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="item"  value="<?= (int)$block->getRequest()->getParam('id') ?>" />
        <?= $block->getBlockHtml('formkey') ?>
        <?= $this->getChildHtml() ?>
        <input type="number" style="display:none;" name="qty" class="qty"  value="1" data-update="qty" data-name="qty" />
        </form>
    </div>
</div>