<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/** @var $block \Magento\Swatches\Block\Product\Renderer\Listing\Configurable */
$_product = $block->getProduct();
$productId = $_product->getId();
$_attributes = $block->decorateArray($block->getAllowAttributes());
?>
<?php if ($_product->isSaleable() && count($_attributes)):?>
<div class="product-configurable-inner" data-configurable='<?= json_encode($block->getConfigArray()) ?>'>
    <?php foreach ($_attributes as $_attribute): ?>
        <div class="field configurable required">
            <label class="label" for="attribute<?= $_attribute->getAttributeId() ?>">
                <span><?= $block->escapeHtml($_attribute->getProductAttribute()->getStoreLabel()) ?></span>
            </label>
            <div class="control">
                <select name="super_attribute[<?= $_attribute->getAttributeId() ?>]"
                        data-selector="super_attribute[<?= $_attribute->getAttributeId() ?>]"
                        data-validate="{required:true}"
                        class="cdz-super-attribute-select"
                        >
                    <option value=""><?= __('Choose an Option...') ?></option>
                </select>
            </div>
        </div>
    <?php endforeach; ?>
</div>
<?php endif;?>

<script type="text/x-magento-init">
    {
        "[data-role=priceBox][data-price-box=product-id-<?= /* @escapeNotVerified */ $productId ?>]": {
            "priceBox": {
                "priceConfig": {
                    "priceFormat": <?= /* @escapeNotVerified */ $block->getPriceFormatJson(); ?>,
                    "prices": <?= /* @escapeNotVerified */ $block->getPricesJson(); ?>
                }
            }
        }
    }
</script>