<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<?php
$furnitureBlock = $this->getLayout()->getBlock('furniture_layout_config');
?>
<?php if ($furnitureBlock) : ?>
<?php
$mainCat = $furnitureBlock->getCurrentRequestMainSubCat();
$subCategories = $furnitureBlock->getDisplaySubCategories();
?>

<?php
/* helper */
$_helper = $this->helper('Magento\Catalog\Helper\Output');
$imageHelper = $this->helper('Magento\Catalog\Helper\Image');
$themeHelper = $this->helper('Codazon\ThemeLayoutPro\Helper\Data');
$quickShopHelper = $this->helper('Codazon\QuickShop\Helper\Data');
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');
$labelHelper = $this->helper('Codazon\ProductLabel\Helper\Data');
$cartHelper = $this->helper('Magento\Checkout\Helper\Cart');
/* layout */
$layout = $themeHelper->getBlockPageLayout($block);

/* show on list */
$showDescription = true;
$showSku = $themeHelper->isDisplayOnList('sku');
$showWishlist = $themeHelper->isDisplayOnList('wishlist') && $wishlistHelper->isAllow();
$showCompare = false;//$themeHelper->isDisplayOnList('compare') && $block->getAddToCompareUrl();
$showCart = $themeHelper->isDisplayOnList('addtocart');
$showQuickShop = $themeHelper->isDisplayOnList('quickshop');
$showLabel = $themeHelper->isDisplayOnList('label');
$showThumb = $themeHelper->isDisplayOnList('thumb');
$showName = $themeHelper->isDisplayOnList('name');
$showReview = $themeHelper->isDisplayOnList('review');
$showPrice = $themeHelper->isDisplayOnList('price');
$qtyValidator = $block->escapeHtml(json_encode($block->getQuantityValidators()));


$width = $themeHelper->getConfig('images/category/product_image_width')?:150;
$height = $themeHelper->getConfig('images/category/product_image_height')?:150;
$paddingBottom = $height*100/$width;
$cartWidget = $block->isRedirectToCartEnabled()?'':'data-mage-init=\'{"catalogAddToCart":{}}\'';
$formKey = $block->getBlockHtml('formkey');
?>

<?= $block->getAdditionalHtml() ?>
<?php
$viewMode = 'list';
$image = 'category_page_list';
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
$pos = $block->getPositioned();
?>


<?php
$productOptionsBlock = $this->getLayout()->createBlock('Magento\Framework\View\Element\Template', 'furniture_layout_product_options_wrap')
    ->setTemplate('Codazon_FurnitureLayout::product/options.phtml');

?>


<?php /* BEGIN PRODUCT LIST FOREACH */ ?>
<div class="products-column sub-cat-tab" data-role="sub-cat-tab" id="sub-cat-tab-<?= $mainCat->getId(); ?>">
<?php foreach ($subCategories as $subCategory) : ?>
<?php
$_productCollection = $furnitureBlock->getProductsByCategory($subCategory, 10);
?>
<section class="subcat-group" id="sub-cat-sec-<?= $subCategory->getId(); ?>">
<div class="subcat-title"><?= $subCategory->getName() ?></div>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?= __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
<div class="products wrapper <?= $viewMode ?> products-<?= $viewMode ?> subcat-products">
    <?php $iterator = 1; ?>
    <ol class="products list items product-items">
        <?php foreach ($_productCollection as $_product): ?>
            <?= ($iterator++ == 1) ? '<li class="item product product-item">' : '</li><li class="item product product-item">' ?>
            <div class="product-item-info" data-container="product-grid">
                <?php if ($showThumb) : ?>
                <?php
                    $mainImage = $_product->getData('small_image');
                    $hoveredImage = $_product->getData('thumbnail');
                ?>
                <div class="product-item-top">
                    <a href="<?= $_product->getProductUrl() ?>" class="product photo product-item-photo">
                        <span class="product-image-container">
                            <span class="product-image-wrapper" style="padding-bottom: <?= $paddingBottom ?>%;">
                                <img class="product-image-photo main-img" src="<?php echo $imageHelper->init($_product, $image)->setImageFile($hoveredImage)->resize($width, $height)->getUrl() ?>" />
                                <img class="product-image-photo hovered-img" src="<?php echo $imageHelper->init($_product, $image)->setImageFile($mainImage)->resize($width, $height)->getUrl() ?>" />
                            </span>
                        </span>
                    </a>
                    <?= $showQuickShop?$quickShopHelper->getQuickShopButton($_product):''; ?>
                    <?= $showLabel?$labelHelper->showLabel($_product):''; ?>
                    <?php if ($showSku) : ?>
                        <div class="product-item-sku"><span class="label"><?= __('SKU: ') ?></span><span class="value"><?= $_product->getData('sku') ?></span></div>
                    <?php endif ?>
                </div>
                <?php endif ?>
                <div class="product details product-item-details">
                    <div class="row">
                        <?php if ($showName): ?>
                        <div class="child-col-top col-sm-24 col-md-24">
                            <strong class="product name product-item-name">
                                <a class="product-item-link" href="<?= $_product->getProductUrl() ?>">
                                    <?= $_helper->productAttribute($_product, $_product->getName(), 'name') ?>
                                </a>
                            </strong>
                        </div>
                        <?php endif ?>
                        <div class="col-sm-10 col-md-12 child-col child-col-left">
                        <?php if ($showDescription): ?>
                        <div class="product description product-item-description short-desc">
                            <?= $themeHelper->subString($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'), 500) ?>
                        </div>
						<div class="product description product-item-description long-desc">
                            <?= $themeHelper->subString($_helper->productAttribute($_product, $_product->getDescription(), 'description'), 500) ?>
                        </div>
                        <?php endif; ?>
                        <?= $showReview?$block->getReviewsSummaryHtml($_product, $templateType):'' ?>
                        <?php echo $block->getProductDetailsHtml($_product) ?>
                        <?php echo $productOptionsBlock->setProduct($_product)->toHtml(); ?>
                        </div>
                        <div class="product-item-inner col-sm-14 col-md-12 child-col child-col-right">
                            <?= $showPrice?$block->getProductPrice($_product):'' ?>
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                    <div class="cart-qty">
                                        <?php 
											$postParams = $block->getAddToCartPostParams($_product);
											$action 	=	$cartHelper->getAddUrl($_product);
										?>
                                        <form <?= $cartWidget ?> data-role="tocart-form" data-product-sku="<?= $block->escapeHtml($_product->getSku()) ?>" action="<?= $action ?>" method="post">
                                            <input type="hidden" name="product" value="<?= $postParams['data']['product'] ?>">
                                            <input type="hidden" name="<?= Action::PARAM_NAME_URL_ENCODED ?>" value="<?= $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
											<?= $formKey ?>
                                            <div class="field qty">
												<label class="label" for="qty"><span><?php /* @escapeNotVerified */ echo __('Qty') ?></span></label>
												<div class="control">
													<div class="qty-ctl">
														<button aria-label="<?= __('Decrease') ?>" type="button" data-role="change_cart_qty" class="decrease" data-qty="-1" class="decrease"></button>
													</div>
													<input type="number" class="qty" name="qty" maxlength="12" value="1" title="<?php echo __('Qty') ?>" class="input-text qty" data-validate="<?= $qtyValidator ?>" />
													<div class="qty-ctl">
														<button aria-label="<?= __('Increase') ?>" type="button" data-role="change_cart_qty" data-qty="1" class="increase"></button>
													</div>
												</div>
											</div>
                                            <button role="predisabled" type="submit" disabled="disabled" 
                                                    title="<?= $block->escapeHtml(__('Add to Cart')) ?>"
                                                    class="action tocart primary">
                                                <span><?= __('Add to Cart') ?></span>
                                            </button>
                                            
                                            <?php if ($showWishlist || $showCompare): ?>
                                            <div data-role="add-to-links" class="actions-secondary">
                                                <?php if ($showWishlist): ?>
                                                    <a href="#"
                                                       data-post='<?= $block->getAddToWishlistParams($_product); ?>'
                                                       class="action towishlist" data-action="add-to-wishlist"
                                                       title="<?= __('Add to Wish List') ?>">
                                                        <span><?= __('Add to Wish List') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                                <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                    <a href="#" class="action tocompare"
                                                       data-post='<?= $compareHelper->getPostDataParams($_product);?>'
                                                       title="<?= __('Add to Compare') ?>">
                                                        <span><?= __('Add to Compare') ?></span>
                                                    </a>
                                                <?php endif; ?>
                                            </div>
                                            <?php endif ?>
                                            
                                        </form>
                                    </div>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <button onclick="document.location.href = '<?= $_product->getProductUrl(); ?>'" class="action tocart primary stock available"><span><?= __('In stock') ?></span></button>
                                        <?php else: ?>
                                            <button class="action tocart primary disabled stock unavailable" disabled><span><?= __('Out of stock') ?></span></button>
                                        <?php endif; ?>
                                        <?php if ($showWishlist || $showCompare): ?>
                                        <div data-role="add-to-links" class="actions-secondary">
                                            <?php if ($wishlistHelper->isAllow() && $showWishlist): ?>
                                                <a href="#"
                                                   data-post='<?= $block->getAddToWishlistParams($_product); ?>'
                                                   class="action towishlist" data-action="add-to-wishlist"
                                                   title="<?= __('Add to Wish List') ?>">
                                                    <span><?= __('Add to Wish List') ?></span>
                                                </a>
                                            <?php endif; ?>
                                            <?php if ($showCompare) : ?>
                                                <a href="#" class="action tocompare"
                                                   data-post='<?= $compareHelper->getPostDataParams($_product);?>'
                                                   title="<?= __('Add to Compare') ?>">
                                                    <span><?= __('Add to Compare') ?></span>
                                                </a>
                                            <?php endif; ?>
                                        </div>
                                        <?php endif ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <?= ($iterator == count($_productCollection)+1) ? '</li>' : '' ?>
        <?php endforeach; ?>
    </ol>
</div>

<?php endif; ?>
</section>
<?php endforeach ?>


</div>
<?php endif ?>