<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$required = '';
if ($block->hasRequiredOptions()) {
    $required = ' data-hasrequired="' . __('* Required Fields') . '"';
}
$widget = [
    'Codazon_FurnitureLayout/js/configurable' => [],
];
?>
<div class="product-options-wrapper product-configurable-container" data-mage-init='<?= json_encode($widget) ?>' <?= $required ?>>
    <div class="fieldset" tabindex="0">
        <?= $block->getChildHtml('', true) ?>
    </div>
</div>