<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
$product = $this->getProduct();
$typeId = $product->getTypeId();
?>

<?php if (($typeId == 'configurable') || $product->getOptions() || ($typeId == 'bundle')) : ?>
<?php
$ajaxUrl = ($typeId == 'bundle') ?
    $this->getUrl('furniturelayout/bundle/index', ['id' => $product->getId()]) :
    $this->getUrl('furniturelayout/configurable/index', ['id' => $product->getId()]);
$js = ($typeId == 'bundle') ?
    'Codazon_FurnitureLayout/js/bundle' :
    'Codazon_FurnitureLayout/js/configurable';
$widget = [
    $js => [
        'isLazy'        => true,
        'productId'     => $product->getId(),
        'ajaxUrl'       => $ajaxUrl
    ]
];
?>

<div class="configurable-options-wrap" data-mage-init='<?= json_encode($widget); ?>'>
    <button data-role="options_toggle" class="button view-options<?= ($typeId == 'bundle') ? ' hidden' : '' ?>"><span><?= __('View Options') ?></span></button>
    <div style="display:none;" class="configurable-options" data-role="options_content">
        <div class="no-loaded">
            <div class="brand-loader double-bounce-spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
    <div style="display:none;" class="option-msg" data-role="option_msg"><?= __('Please select options.') ?></div>
</div>
<?php endif ?>