<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<div class="block-title">
    <strong class="text"><!-- ko i18n: 'Your cart' --><!-- /ko --></strong>
    <!-- ko if: getCartParam('summary_count') -->
    <span class="items-total">
        <!-- ko if: maxItemsToDisplay < getCartLineItemsCount() -->
            <span class="count"><!-- ko text: maxItemsToDisplay --><!-- /ko --></span>
        <!-- /ko -->
        <!-- ko if: maxItemsToDisplay < getCartLineItemsCount() -->
            <!-- ko i18n: 'of' --><!-- /ko -->
        <!-- /ko -->
        <span class="count"><!-- ko text: getCartLineItemsCount() --><!-- /ko --></span>
        <!-- ko if: maxItemsToDisplay < getCartLineItemsCount() -->
            <!-- ko if: getCartLineItemsCount() === 1 -->
                <!-- ko i18n: 'Item in Cart' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: getCartLineItemsCount() > 1 -->
                <!-- ko i18n: 'Items in Cart' --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: maxItemsToDisplay >= getCartLineItemsCount() -->
            <!-- ko if: getCartLineItemsCount() === 1 -->
                <!-- ko i18n: 'Item' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko if: getCartLineItemsCount() > 1 -->
                <!-- ko i18n: 'Items' --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    </span>
    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl, title: $t('View and edit cart')}">
        <span><!-- ko i18n: 'View and edit cart' --><!-- /ko --></span>
    </a>
    <!-- /ko -->
</div>

<div class="block-content">
    <!-- ko if: getCartParam('summary_count') -->
    <strong class="subtitle"><!-- ko i18n: 'Recently added item(s)' --><!-- /ko --></strong>
    <div data-action="scroll" class="minicart-items-wrapper nice-scroll">
        <ol id="mini-cart" class="minicart-items" data-bind="foreach: { data: getCartItems(), as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
                <!-- ko template: {name: getTemplate(), data: item, afterRender: function() {$parents[1].initSidebar()}} --><!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: getCartParam('summary_count') -->
        <strong class="subtitle empty" data-bind="visible: (typeof closeSidebar == 'function') ? closeSidebar() : true">
            <!-- ko i18n: 'You have no items in your shopping cart.' --><!-- /ko -->
        </strong>
        <!-- ko if: getCartParam('cart_empty_message') -->
            <p class="minicart empty text"><!-- ko text: getCartParam('cart_empty_message') --><!-- /ko --></p>

            <div class="actions">
                <div class="secondary">
                    <a class="action viewcart" data-bind="attr: {href: shoppingCartUrl}">
                        <span><!-- ko text: $t('View and edit cart') --><!-- /ko --></span>
                    </a>
                </div>
            </div>
        <!-- /ko -->
    <!-- /ko -->
    <div class="cdz-cart-validation-message" data-bind="html: ((typeof window.cdzShoppingCart != 'undefined') ? window.cdzShoppingCart.getCrosssellParam('validation_message') : '')"></div>
    <div id="minicart-widgets" class="minicart-widgets">
        <!-- ko foreach: getRegion('promotion') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- ko if: getCartParam('summary_count') -->
    <div class="cart-total">
        <!-- ko if: getCartParam('possible_onepage_checkout') -->
            <!-- ko foreach: getRegion('subtotalContainer') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->

        <!-- ko foreach: getRegion('extraInfo') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->

        <div class="actions">
            <div class="primary layout-row">
                <button type="button"
                        id="btn-minicart-close"
                        class="action close"
                        data-action="close"
                        data-bind="attr: { title: $t('Keep Shopping') }">
                    <span><!-- ko i18n: 'Keep Shopping' --><!-- /ko --></span>
                </button>
                <!-- ko if: getCartParam('possible_onepage_checkout') -->
                <button id="top-cart-btn-checkout"
                        type="button"
                        class="action primary checkout"
                        data-bind="attr: {title: $t('Go to Checkout')}">
                    <!-- ko i18n: 'Go to Checkout' --><!-- /ko -->
                </button>
                <!-- /ko -->
            </div>
            <div data-bind="html: getCartParam('extra_actions')"></div>
        </div>
    </div>
    <!-- /ko -->
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
