<?php
/**
 * Copyright © Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$helper = $this->helper(\Codazon\FurnitureLayout\Helper\Data::class);
$widget = [
    'Codazon_FurnitureLayout/js/category-pair' => [
        'updateUrl'     => $this->getUrl('furniturelayout/categoryPair/save'),
        'catExistMsg'   => __('This category already exist.'),
        'catData'       => $this->getCategoryData()
    ]
]
?>
<script>
var codazon = <?= json_encode($this->getConfig()); ?>;
</script>
<div class="cat-pair-wrap" data-mage-init='<?= json_encode($widget) ?>'>
    <div class="toolbar-actions">
        <button type="button" class="btn add btn-secondary" role="add"><?= __('Add pair') ?></button>
        <button type="button" class="btn save btn-secondary" role="remove_all"><?= __('Remove all pairs') ?></button>
        <button type="button" class="btn save btn-primary" role="save"><?= __('Save') ?></button>
    </div>
    <div class="cat-pair-inner">
        <form id="map_form" role="map_form">
            <div class="map-title">
                <div class="label label-group-1"><?= $helper->getConfig('codazon_furniture_layout/category_pair/group_1_label') ? : __('Group 1') ?></div>
                <div class="label label-group-2"><?= $helper->getConfig('codazon_furniture_layout/category_pair/group_2_label') ? : __('Group 2') ?></div>
            </div>
            <div class="map" role="map"></div>
        </form>
    </div>
    <div class="toolbar-actions">
        <form action="<?= $this->getUrl('furniturelayout/categoryPair/save') ?>" role="data_form" method="post">
            <?= $block->getBlockHtml('formkey') ?>
            <input type="hidden" name="cat_data" value="" />
        </form>
        <button type="button" class="btn add btn-secondary" role="add"><?= __('Add pair') ?></button>
        <button type="button" class="btn save btn-secondary" role="remove_all"><?= __('Remove all pairs') ?></button>
        <button type="button" class="btn save btn-primary" role="save"><?= __('Save') ?></button>
    </div>
</div>

<script type="text/x-magento-template" id="category-pair-tmpl">
    <div class="cat-item" role="item" data-id="<%- id %>">
        <input type="hidden" data-name="pair_id" value="<%- id %>" />
        <button class="btn-icon icon-remove" title="<?= __('Remove') ?>" role="remove"></button>
        <div class="item-inner">
            <div class="pair-el pair-el-1" role="cat">
                <input required data-validate="{required: true}" type="text" class="hidden-input-text" data-name="group_1" name="group_1_<%- widget.uniqid() %>" value="<%- cat1.id %>" role="cat_id" />
                <span class="label" role="cat_label"><span role="cat_id_label" class="cat-id"><%- cat1.id %></span> <span title="<%- cat1.name %>" class="cat-name" role="cat_name"><%- cat1.name %></span></span>
                <button class="btn btn-small choose-cat" role="choose_cat"><?= __('Choose Category') ?></button>
            </div>
            <div class="pair-el pair-el-2" role="cat">
                <input required data-validate="{required: true}" type="text" class="hidden-input-text" data-name="group_2" name="group_2_<%- widget.uniqid() %>" value="<%- cat2.id %>" role="cat_id" />
                <span class="label" role="cat_label"><span role="cat_id_label" class="cat-id"><%- cat2.id %></span> <span title="<%- cat2.name %>" class="cat-name" role="cat_name"><%- cat2.name %></span></span>
                <button class="btn btn-small choose-cat" role="choose_cat"><?= __('Choose Category') ?></button>
            </div>
        </div>
    </div>
</script>