<?php
/**
 * Copyright © 2019 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php
$helper = $this->helper(\Codazon\FurnitureLayout\Helper\Data::class);
$widget = [
    'Codazon_FurnitureLayout/js/instruction' => [
        'collections'       => $this->getCollectionsData(),
        'mediaUrl'          => $this->getCatalogProductMediaUrl(),
        'fileUrl'           => $this->getFileUrl(),
        'ajaxUrl'           => $this->getAjaxInstructionUrl(),
        'colTmpl'           => '#assembly-collection-tmpl',
        'docTmpl'           => '#assembly-instruction-tmpl',
    ]
];
$videoWidth = (int)$helper->getConfig('codazon_furniture_layout/assembly_instruction/video_width') ? : 480;
$videoHeight = (int)$helper->getConfig('codazon_furniture_layout/assembly_instruction/video_height') ? : 360;
$pdfWidth = (int)$helper->getConfig('codazon_furniture_layout/assembly_instruction/pdf_thumbnail_width') ? : 178;
$pdfHeight = (int)$helper->getConfig('codazon_furniture_layout/assembly_instruction/pdf_thumbnail_height') ? : 254;
$styleWidth = (int)$helper->getConfig('codazon_furniture_layout/assembly_instruction/style_thumbnail_width') ? : 100;
$styleHeight = (int)$helper->getConfig('codazon_furniture_layout/assembly_instruction/style_thumbnail_height') ? : 100;
?>
<link rel="stylesheet" type="text/css"  media="all" href="<?= $this->getViewFileUrl('Codazon_FurnitureLayout::css/instruction.css') ?>" />
<script id="assembly-collection-tmpl" type="text/x-magento-template">
    <div class="collection-list">
        <% _.each(collections, function(col, i) { %>
        <div class="collection-item">
            <div class="col-name"><%- col.name %></div>
            <div class="style-list">
                <div class="style-list-inner style-slider" role="style_slider">
                <% _.each(col.styles, function(style, ii) { %>
                    <div class="style-item" data-id="<%- style.id %>" data-loaddoc="<%- style.id %>" data-stylename="<%- style.name %>">
                        <div class="style-item-inner">
                            <div class="info-top">
                                <div class="style-img abs-img" style="padding-bottom: <?= 100 * $styleHeight/$styleWidth ?>%">
                                    <% if (style.material_image.base) { %>
                                    <img src="<%- mediaUrl + style.material_image.base %>" />
                                    <% } else { %>
                                    <div class="img-placeholder"></div>
                                    <% } %>
                                </div>
                            </div>
                            <div class="info-bottom">
                                <div class="style-name"><%- style.name %></div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                </div>
            </div>
        </div>
        <% }); %>
    </div>
    <div class="instruction-wrap" role="doc-wrap">
        <div class="no-loaded" role="loader">
            <div class="brand-loader double-bounce-spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div>
</script>
<script id="assembly-instruction-tmpl" type="text/x-magento-template">
<div class="instruction-item doc-style-<%- styleId %>">
    <div class="instruction-title"><%- '<?= __('Instructions for %1', '%1') ?>'.replace('%1', styleName) %></div>
    <% if (pdf.length) { %>
    <div class="instr-section type-pdf">
        <div class="inst-title"><span><span><?= __('PDF Instructions') ?></span></span></div>
        <div class="content-outer">
            <div class="instr-section-content flex-grid" data-sameheight=".doc-name">
                <% _.each(pdf, function(item) { %>
                <div class="instr-item pdf-item">
                    <div class="instr-item-inner">
                        <div class="doc-thumbnail abs-img" style="padding-bottom: <?= 100 * $pdfHeight/$pdfWidth ?>%;">
                        <% if (item.thumbnail) { %>
                        <img title="<%- item.name %>" alt="<%- item.name %>" src="<%- mediaUrl + item.thumbnail %>" />
                        <% } else { %>
                        <div class="img-placeholder"></div>
                        <% } %>
                        </div>
                        <div class="doc-info">
                            <div class="doc-name"><%- item.name %></div>
                            <div class="actions">
                                <a download class="doc-link" href="<%- fileUrl + item.psd_file %>"><?= __('Download') ?></a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
    <% } %>
    <% if (video.length) { %>
    <div class="instr-section type-video">
        <div class="inst-title"><span><span><?= __('Video Instructions') ?></span></span></div>
        <div class="content-outer">
            <div class="instr-section-content flex-grid">
                <% _.each(video, function(item) { %>
                <% if (item.video_url) { %>
                <div class="instr-item video-item">
                    <div class="abs-frame" style="padding-bottom: <?= 100 * $videoHeight/$videoWidth ?>%;" data-video="<%- item.video_url %>">
                        <div class="abs-frame-inner">
                            <img class="video-thumbnail" role="video-thumbnail" />
                            <div class="video-player" role="play-video">
                                <div class="video-player-icon" title="<?= __('Click to play') ?>">
                                    <span><svg id="plyIcn" viewBox="0 0 11.2 15.3" width="8" height="10"><path d="M0.8,15.3c-0.2,0-0.5-0.1-0.6-0.3c-0.2-0.3-0.2-0.8,0.2-1l8.8-6.3L1.5,2.2v4.1C1.5,6.7,1.2,7,0.7,7S0,6.7,0,6.3V0.8c0-0.3,0.2-0.5,0.4-0.7C0.7,0,1,0,1.2,0.1L10.8,7c0.2,0.1,0.3,0.4,0.3,0.6S11,8.1,10.8,8.3l-9.7,6.9C1.1,15.3,0.9,15.3,0.8,15.3z"></path></svg></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="doc-name"><%- item.name %></div>
                </div>
                <% } %>
                <% }); %>
            </div>
        </div>
    </div>
    <% } %>
    <% if (message) { %>
    <div class="message info empty"><div><%= message %></div></div>
    <% } %>
</div>
</script>
<div class="assembly-instruction" data-mage-init='<?= json_encode($widget) ?>'>
    <div class="no-loaded">
        <div class="brand-loader double-bounce-spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>
</div>

