<script id="fly-category-id" type="text/x-jquery-tmpl">
<div class="image-container row" data-role="field-container">
    <input class="el-input" value="${value}" data-attache_desc="${attache_desc}" data-attache_header="${attache_header}" type="text" data-type="${type}" data-${prefix}name="${name}" />
    <button class="el-btn el-image" data-role="select-category" onclick="flyWidget.selectCategory(this)"><?= __('Select') ?></button>
</div>
</script>
<script>
if (typeof flyWidget == 'undefined') {
    var flyWidget = {};
}
require(['jquery', 'mage/adminhtml/wysiwyg/widget'], function($) {
    flyWidget.categoryWidgetUrl = '<?= $this->getUrl("catalog/category_widget/chooser", ["uniq_id" => "category_placeholder"]) ?>';
    flyWidget.currentCatInput = null;
    flyWidget.init = function() {
        if (typeof window.category_placeholder == 'undefined') {
            $('<div style="display:none"><div id="category_placeholderlabel"></div><input type="text" id="category_placeholdervalue"></div>').appendTo('body');
            $('#category_placeholdervalue').on('change', function() {
                if (flyWidget.currentCatInput != null) {
                    var category = $('#category_placeholdervalue').val().replace('category/', '');
                    flyWidget.currentCatInput.val(category);
                    flyWidget.currentCatInput = null;
                }
            });
            window.category_placeholder = new WysiwygWidget.chooser(
                'category_placeholder',
                flyWidget.categoryWidgetUrl,
                {buttons: {open: '<?= __("Select Category...") ?>', close: '<?= __("Close") ?>'}}
            );
            category_placeholder.oldSetElementValue = category_placeholder.setElementValue;
            category_placeholder.setElementValue = function(value) {
                this.oldSetElementValue(value);
                $('#category_placeholdervalue').trigger('change');
            }
        }
    }
    flyWidget.init();
    flyWidget.categoryChooser = function() {
        category_placeholder.choose();
    }
    flyWidget.selectCategory = function(obj) {
        this.currentCatInput = $(obj).parents('[data-role="field-container"]').first().find('input').first();
        this.categoryChooser();
    }
});
</script>