<?php
/**
 * @author Azaleasoft Team
 * @copyright Copyright (c) 2019 Azaleasoft (https://azaleasoft.com)
 * @package Azaleasoft_Asimprovedaddressvalidation
 */
?>
<div id="address-suggest"></div>
<script type="text/x-magento-init">
    {
        "*": {
            "asImprovedAddressValidationAccount": <?php echo $this->helper("Azaleasoft\Asimprovedaddressvalidation\Helper\Data")->getAccountInitData(); ?>
        }
    }
</script>
<?php if ($this->helper("Azaleasoft\Asimprovedaddressvalidation\Helper\Data")->enableAutocomplete()) : ?>
<script>
require.config({
    map: {
        "*": {
            "googleMapsPlaceLibrary": "https://maps.googleapis.com/maps/api/js?key=<?php echo $this->helper("Azaleasoft\Asimprovedaddressvalidation\Helper\Data")->getGoogleApiKey(); ?>&libraries=places"
        }
    }
});
</script>
<script type="text/x-magento-init">
    {
        "*": {
            "asImprovedAddressValidationAccountAutocomplete": <?php echo $this->helper("Azaleasoft\Asimprovedaddressvalidation\Helper\Data")->getAccountAutocompleteInitData(); ?>
        }
    }
</script>
<?php endif; ?>
